<section class="container">
    <div class="header">
        <p class="title">ESTADO DEL ENVÍO</p>
        <p class="texto">Solo se visualizan los envíos en proceso de entrega.</p>
    </div>
    
    <div class="cuadro">
        <p class="texto2">Seleccionar envío:</p>
        <select name="orders" [(ngModel)]="order_select" (change)="changeOrder()">
            <option [ngValue]="item" *ngFor="let item of orders">{{item.id}}  &nbsp; {{item.destino}} &nbsp; {{item.fecha | date: 'dd/MM/YYYY'}} </option>
        </select>
    </div>

    <div class="estado" *ngIf="status == '0'">
        <img src="./assets/img/kanguro/estado0.svg" alt="estado0">
        <p class="tex">Estado:</p>
        <p class="tex2">---------</p>     
    </div>
    <div class="estado" *ngIf="status == '1'">
        <img src="./assets/img/kanguro/estado1.svg" alt="estado1">
        <p class="tex">Estado:</p>
        <p class="tex2">PROCESANDO</p>      
    </div>
    <div class="estado" *ngIf="status == '2'">
        <img src="./assets/img/kanguro/estado2.svg" alt="estado2">
        <p class="tex">Estado:</p>
        <p class="tex2">EN CAMINO</p>      
    </div>
    <div class="estado" *ngIf="status == '3'">
        <img src="./assets/img/kanguro/estado3.svg" alt="estado3">
        <p class="tex">Estado:</p>
        <p class="tex2">ENTREGADO</p>      
    </div>
</section>

