<section class="container">
    <div class="header">
        <p class="title">ESTADO DEL ENVÍO</p>
        <p class="texto">Solo se visualizan los envíos en proceso de entrega.</p>
    </div>
    
    <div class="cuadro">
        <p class="texto2">Seleccionar envío:</p>
        <div class="tabla_top"><img src="./assets/img/kanguro/poligonoama.svg" alt="" class="poli"></div>
        <table class="lista"> 
            <tr class="tabla">
              <th>001</th>
              <th>Cajas con cuadros y adornos personales</th>
              <th>05/03/2023</th>
            </tr>
            <tr class="tabla">
                <th>001</th>
                <th>Cajas con cuadros y adornos personales</th>
                <th>05/03/2023</th>
            </tr>
            <tr class="tabla">
                <th>001</th>
                <th>Cajas con cuadros y adornos personales</th>
                <th>05/03/2023</th>
            </tr>
          </table>
    </div>
    <div class="estado">
        <img src="./assets/img/kanguro/estado0.svg" alt="">
        <img src="./assets/img/kanguro/estado1.svg" alt="">
        <img src="./assets/img/kanguro/estado2.svg" alt="">
        <img src="./assets/img/kanguro/estado3.svg" alt="">
        <p class="tex">Estado:</p>
        <p class="tex">---------</p>
    </div>
</section>

