<section class="nosotros">
    <p class="text-why">Hacemos que la gestión logística <br>de tu empresa sea impecable y <br> sencilla</p>
    <p class="texto">Contamos con una sólida experiencia de 15 años en el mercado internacional, operando de manera exitosa en Sudamérica, específicamente en Perú, y en Europa, pais España, región de Cataluña. Nuestra presencia en estos dos importantes territorios nos ha brindado un profundo conocimiento de las particularidades logísticas y comerciales de cada región. Gracias a ello, podemos ofrecerte soluciones logísticas eficientes y adaptadas a las necesidades específicas de tu negocio en ambos países. Confía en nuestro expertise y en nuestra amplia red de socios y proveedores para optimizar tus operaciones logísticas y llevar tu negocio al siguiente nivel en Perú y España, Cataluña. ¡Contáctanos hoy mismo y descubre cómo podemos impulsar tu cadena de suministro en estos mercados clave!</p>
    <div style="display: flex; align-items: end; justify-content: end;">
        <span class="boton" [routerLink]="['/contacto']">CONTACTAR</span>
    </div>
    
</section>
<section class="footer">
    <p [routerLink]="['/terminos']">POLITICA DE COOKIES <span>|</span> LEGAL</p>
    <img src="./assets/img/kanguro/Kanguro letras blancas 2.png" alt="" class="icon-footer">
</section>