<div class="content-login">
   <div class="login">
      <img src="./assets/img/kanguro/logotipoblanco.svg" alt="" class="logotipo"> 
      <p class="tipo">Persona | E-Commerce</p>
      <input type="text" class="inp" placeholder="Correo electrónico">
      <input type="text" class="inp" placeholder="Contraseña">
      <div style="width: 100%;">
       <p class="sesion2">Has perdido tu contraseña? <span style="color:red">Recuperar</span></p>
       
       <div class="custom-control custom-checkbox custom-checkbox-green">
         <input type="checkbox" class="custom-control-input custom-control-input-green" id="customCheck1">
         <label class="custom-control-label" for="customCheck1">Recuerdame</label>
       </div>
   
      </div>
         <span class="boton">INGRESAR</span>
      <p class="sesion">No tienes una cuenta? <span style="color:red">Registrarte</span></p>
   </div>
</div>
