<div class="content-login">
   <div class="login">
      <img src="./assets/img/kanguro/logotipoblanco.svg" alt="" class="logotipo"> 
      <p class="tipo">Persona | E-Commerce</p>
      <form role="form">
         <input type="email" class="inp" placeholder="Correo electrónico"  [(ngModel)]="model.email" name="inputEmail" #email="ngModel" required>
         <ng-container *ngIf="email.invalid && email.dirty">
            <span class="help is-danger">El campo e-mail es requerido</span>
          </ng-container>
         <input type="password" class="inp" placeholder="Contraseña"  [(ngModel)]="model.password" name="inputPassword" #password="ngModel" required>
         <ng-container *ngIf="password.invalid && email.dirty">
            <span class="help is-danger">El campo password es requerido</span>
          </ng-container>
      </form>
      <div style="width: 100%;">
       <p class="sesion2">Has perdido tu contraseña? <span style="color:red">Recuperar</span></p>
       
       <div class="custom-control custom-checkbox custom-checkbox-green">
         <input type="checkbox" class="custom-control-input custom-control-input-green" id="customCheck1" >
         <label class="custom-control-label" for="customCheck1">Recuerdame</label>
       </div>
   
      </div>
         <span class="boton" (click)="login()">INGRESAR</span>
      <p class="sesion">No tienes una cuenta? <span style="color:red">Registrarte</span></p>
   </div>
</div>
