<section class="container">
    <div class="header">
        <h1>E-Commerce</h1>
        <p class="title">REPROGRAMAR ENVÍO</p>
        <p class="texto">Solo se visualizan los envíos en proceso de entrega.</p>
    </div>
    
    <div class="cuadro">
        <p class="texto2">Seleccionar envío:</p>
        <table class="lista"> 
            <tr class="tabla_top">
                <th>Orden</th>
                <th>Cliente final</th>
                <th>Fecha Solicitud</th>
                <th>Acción</th>
            </tr>
            <tr class="tabla">
              <th>001</th>
              <th>Carlos Villanueva</th>
              <th>05/03/2023</th>
              <th style="font-weight: bold;">REPROGRAMAR</th>
            </tr>
            <tr class="tabla">
                <th>001</th>
                <th>Carlos Villanueva</th>
                <th>05/03/2023</th>
                <th style="font-weight: bold;">REPROGRAMAR</th>
            </tr>
            <tr class="tabla">
                <th>001</th>
                <th>Carlos Villanueva</th>
                <th>05/03/2023</th>
                <th style="font-weight: bold;">REPROGRAMAR</th>
            </tr>
        </table>
    </div>
    <div class="estado">
        
    </div>
</section>