<section>
    <img src="./assets/img/kanguro/xl.svg" alt="" class="xl">    
</section>
<section>
    <img src="./assets/img/kanguro/xl2.svg" alt="" class="xl2">    
</section>
<section class="container1">
    <p class="title">Lo que necesitas saber para enviar un artículo XL</p>
    <img src="./assets/img/kanguro/ALMACEN 1.png" alt="" class="xl3">
    <p class="texto">Antes de solicitar tu envío urgente de paquetería grande toma en cuenta las siguientes medidas disponibles.</p>
</section>
<section class="container2">
    <p class="title2">Guía de peso y medidas</p>
    <p class="texto2">¿Cuánto espacio dispones para hacer un envío urgente de paquetería grande XL?</p>
    <img src="./assets/img/kanguro/xl4.svg" alt="" class="xl4">
</section>
<section class="container3">
    <p class="texto3">¡Nosotros nos encargamos del resto, solo debes decirnos a <br> dónde lo llevamos! </p>
    <span class="btn_solicitar">COTIZAR</span>
</section>
<section class="container4">
    <p class="title">Consejos para un buen embalaje</p>
</section>
