 <!-- VERSION MOVIL -->
 <section *ngIf="!showWeb">
    <div class="content-header">
        <h2>¡ENVÍOS <br>
            URGENTES! </h2>
        <p>A la MEDIDA de tus NECESIDADES en</p>
        <h3>BARCELONA</h3>
    </div>
    <img class="img-mud" src="./assets/img/kanguro/xl.svg" alt="xl">

    <div class="text-info1">
        <p>Sabemos que enviar un paquete grande por mensajería puede resultar extremadamente complicado, y más si necesitas hacer una entrega con urgencia.</p>
        <p>Por ello <b>KANGURO LOGISTIC</b> te brinda la solución a tu problema ofreciéndote un servicio simplificado para que puedas realizar envíos urgentes de paquetería grande. </p>
    </div>   

    <p class="title-info">LO QUE NECESITAS <br> SABER PARA ENVÍAR UN <br> ARTÍCULO XL</p>

    <img class="img-mud1" src="./assets/img/kanguro/ALMACEN 1.png" alt="ALMACEN">

    <p class="text-info2">Antes de solicitar tu envío urgente de paquetería grande toma en cuenta las siguientes medidas disponibles.</p>
    <br>
    <hr>
    <br><br>
    <div class="rectangle-line">
        <div></div>
    </div>

    <p class="title-info1">Guía de peso y medidas</p>
    <p class="title-info2">¿Cuánto espacio dispones para hacer un envío urgente de paquetería grande XL?</p>
    <img class="img-mud2" src="./assets/img/kanguro/box1.svg" alt="box1">

    <div class="rectangle-line2">
        <div></div>
    </div>

    <p class="title-info1">Medidas del Baul</p>
    <img class="img-mud2" src="./assets/img/kanguro/box2.svg" alt="box2">

    <br><br>
    <hr>
    <p class="text-why">¡Nosotros nos encargamos del resto, solo debes decirnos a dónde lo llevamos!</p>
    <button class="solicitar">SOLICITAR</button>
    <hr>

    <p class="title-info">Consejos para un <br> buen embalaje</p>

    <div class="content-emb">
        <img class="arrow-down1" src="./assets/img/kanguro/line-down.svg" alt="lines">
        <div class="content-yellow">
            <h2 class="text-center">¿Cómo embalar mi envío de forma adecuada?</h2>
            <br>
            <p class="text-left">Si dispones de un embalaje en casa que desees reutilizar, te ayudamos a darle una segunda vida. Recuerda que con Kanguro Logistic todos tus envíos son cero emisiones, y que junto con prácticas de reciclaje como la que estás a punto de hacer, contribuyes a hacer de este mundo un lugar mejor. </p>
        </div>
        
        <img class="arrow-down1" src="./assets/img/kanguro/line-down.svg" alt="lines">
        <img class="img-emb" src="./assets/img/kanguro/package1.png" alt="package1">
        <p class="text-info2">Asegúrate de que tu artículo se mantenga seguro revisando que el embalaje no tenga grietas y desperfectos que supongan un peligro durante el envío. A continuación retira todas las etiquetas antiguas que pueda tener tu caja.</p>  
        
        <img class="arrow-down1" src="./assets/img/kanguro/line-down.svg" alt="lines">
        <img src="./assets/img/kanguro/skate-park1.png" alt="skate-park1">
        <p class="text-info2">Adapta el contenido y utiliza amortiguadores si lo necesitas, como por ejemplo: papel de periódico usado, entre otros. De esta manera evitarás que el artículo se mueva en el interior de la caja durante el traslado.</p>

        <img class="arrow-down1" src="./assets/img/kanguro/line-down.svg" alt="lines">
        <img src="./assets/img/kanguro/fragile1.png" alt="fragile1">
        <p class="text-info2">Para finalizar, asegura tu envío con un buen EMBALAJE Y MENCIONA SI LOS ARTICULOS SON FRAGILES. </p>
        
        <img class="arrow-down1" src="./assets/img/kanguro/line-down.svg" alt="lines">
        <img src="./assets/img/kanguro/courier1.png" alt="courier1">
        <p class="text-info2">Asegurate de dejar a alguien en casa al momento de recoger tu envío y de tener todo listo.</p>

        <div class="content-yellow text-right">
            <div class="rectangle-red"></div>
            <h2>Articulos prohibidos y mercancías <br> peligrosas</h2>
            <p>Artículos prohibidos y mercancías peligrosas: Aquellos artículos cuya circulación no estén permitidos de acuerdo a las leyes nacionales aplicadas por motivos de seguridad, de sanidad pública y protección de servicio postal universal. Asimismo, el embalaje debe estar adaptado a la forma y naturaleza del contenido de manera que no constituya un peligro para los profesionales que lo manipulan, o puedan dañar o manchar otros envíos.</p>
        </div>

        <img class="arrow-down1" src="./assets/img/kanguro/line-down.svg" alt="lines">
        <img src="./assets/img/kanguro/notepad1.png" alt="notepad1">
        <p class="text-info2">Para ayudarte hemos elaborado un listado de los objetos que no están permitidos:</p>
        <img src="./assets/img/kanguro/prohibition1.png" alt="prohibition1">
        <br><br>
        <div class="container content-imgB">
            <h3>Lista de objetos prohibidos</h3>
            <br>
            <div class="row align-items-start justify-content-center content-imgL">
                <div class="col-9 offset-md-3">
                    <div class="rectangle bk-black"></div>
                    <p>Los productos sometidos a régimen de reserva y no provistos de autorización especial para circular por la Red Postal.</p>
                </div>
                <div class="col-9 offset-md-3">
                    <div class="rectangle bk-black"></div>
                    <p>El opio y sus derivados, la cocaína y demás estupefacientes y sustancias psicotrópicas, salvo si se envían con fines medicinales y acompañados de autorización oficial.</p>
                </div>
                <div class="col-9 offset-md-3">
                    <div class="rectangle bk-black"></div>
                    <p>Los envíos cuyo embalaje o cubierta contenga textos o dibujos que vulneren cualquiera de los derechos fundamentales de la persona.
                    </p>
                </div>
                <div class="col-9 offset-md-3">
                    <div class="rectangle bk-black"></div>
                    <p>Los envíos de armas, conforme a lo establecido en el Real Decreto 137/1993, de 29 de enero, por el que se aprueba el Reglamento de Armas.
                    </p>
                </div>
                <div class="col-9 offset-md-3">
                    <div class="rectangle bk-black"></div>
                    <p>Las materias explosivas, inflamables y otras peligrosas. 
                    </p>
                </div>
                <div class="col-9 offset-md-3">
                    <div class="rectangle bk-black"></div>
                    <p>Los animales vivos de ninguna clase. 
                    </p>
                </div>
                <div class="col-9 offset-md-3">
                    <div class="rectangle bk-black"></div>
                    <p>Los objetos cuyo tráfico constituye un delito.</p>
                </div>
                <div class="col-9 offset-md-3">
                    <div class="rectangle bk-red"></div>
                    <p class="text-bold">Recuerda que la aceptación por parte de KANGURO de un envío prohibido no te libera de tu responsabilidad.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
 
</section>

<!-- VERSION WEB -->
<section *ngIf="showWeb">
    <img src="./assets/img/kanguro/xl.svg" alt="" class="xl">    
</section>
<section *ngIf="showWeb">
    <img src="./assets/img/kanguro/xl2.svg" alt="" class="xl2">    
</section>
<section class="container1" *ngIf="showWeb">
    <p class="title">Lo que necesitas saber para enviar un artículo XL</p>
    <img src="./assets/img/kanguro/ALMACEN 1.png" alt="" class="xl3">
    <p class="texto">Antes de solicitar tu envío urgente de paquetería grande toma en cuenta las siguientes medidas disponibles.</p>
</section>
<section class="container2" *ngIf="showWeb">
    <p class="title2">Guía de peso y medidas</p>
    <p class="texto2">¿Cuánto espacio dispones para hacer un envío urgente de paquetería grande XL?</p>
    <img src="./assets/img/kanguro/xl4.svg" alt="" class="xl4">
</section>
<section class="container3" *ngIf="showWeb">
    <p class="texto3">¡Nosotros nos encargamos del resto, solo debes decirnos a <br> dónde lo llevamos! </p>
    <span class="btn_solicitar">COTIZAR</span>
</section>
<section class="container4" *ngIf="showWeb">
    <p class="title1">Consejos para un buen embalaje</p>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-7 offset-md-5">
                <img src="./assets/img/kanguro/lines.svg" alt="lines" class="lines">
            </div>
        </div>
        <div class="row align-items-start justify-content-between">
            <div class="col-4 offset-md-1">
                <div class="content-yellow">
                    <div class="rectangle-green"></div>
                    <h2 class="text-center">¿Cómo embalar mi envío de forma adecuada?</h2>
                    <p class="text-left">Si dispones de un embalaje en casa que desees reutilizar, te ayudamos a darle una segunda vida. Recuerda que con Kanguro Logistic todos tus envíos son cero emisiones, y que junto con prácticas de reciclaje como la que estás a punto de hacer, contribuyes a hacer de este mundo un lugar mejor. </p>
                </div>
            </div>
            <div class="col-7">
                <div class="content-yellow text-right">
                    <div class="rectangle-red"></div>
                    <h2>Articulos prohibidos y mercancías <br> peligrosas</h2>
                    <p>Artículos prohibidos y mercancías peligrosas: Aquellos artículos cuya circulación no estén permitidos de acuerdo a las leyes nacionales aplicadas por motivos de seguridad, de sanidad pública y protección de servicio postal universal. Asimismo, el embalaje debe estar adaptado a la forma y naturaleza del contenido de manera que no constituya un peligro para los profesionales que lo manipulan, o puedan dañar o manchar otros envíos.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-4 offset-md-1 text-center">
                <img class="arrow-down" src="./assets/img/kanguro/line-down.svg" alt="lines">
            </div>
            <div class="col-7 text-center">
                <img class="arrow-down" src="./assets/img/kanguro/line-down.svg" alt="lines">
            </div>
        </div>
        <div class="row align-items-start justify-content-between">
            <div class="col-4 offset-md-1 text-center content-imgB">
                <img src="./assets/img/kanguro/package1.png" alt="package1">
                <p>Asegúrate de que tu artículo se mantenga seguro revisando que el embalaje no tenga grietas y desperfectos que supongan un peligro durante el envío. A continuación retira todas las etiquetas antiguas que pueda tener tu caja.</p>  
                <img src="./assets/img/kanguro/skate-park1.png" alt="skate-park1">
                <p>Adapta el contenido y utiliza amortiguadores si lo necesitas, como por ejemplo: papel de periódico usado, entre otros. De esta manera evitarás que el artículo se mueva en el interior de la caja durante el traslado.</p>
                <img src="./assets/img/kanguro/fragile1.png" alt="fragile1">
                <p>Para finalizar, asegura tu envío con un buen EMBALAJE Y MENCIONA SI LOS ARTICULOS SON FRAGILES. </p>
                <img src="./assets/img/kanguro/courier1.png" alt="courier1">
                <p>Asegurate de dejar a alguien en casa al momento de recoger tu envío y de tener todo listo.</p>
            </div>
            <div class="col-7 text-center content-imgB">

                <img src="./assets/img/kanguro/notepad1.png" alt="notepad1">
                <p>Para ayudarte hemos elaborado un listado de los objetos que no están permitidos:</p>
                <img src="./assets/img/kanguro/prohibition1.png" alt="prohibition1">
                <h3>Lista de objetos prohibidos</h3>

                <div class="row align-items-start justify-content-center content-imgL">
                    <div class="col-7 offset-md-5">
                        <div class="rectangle bk-black"></div>
                        <p>Los productos sometidos a régimen de reserva y no provistos de autorización especial para circular por la Red Postal.</p>
                    </div>
                    <div class="col-7 offset-md-5">
                        <div class="rectangle bk-black"></div>
                        <p>El opio y sus derivados, la cocaína y demás estupefacientes y sustancias psicotrópicas, salvo si se envían con fines medicinales y acompañados de autorización oficial.</p>
                    </div>
                    <div class="col-7 offset-md-5">
                        <div class="rectangle bk-black"></div>
                        <p>Los envíos cuyo embalaje o cubierta contenga textos o dibujos que vulneren cualquiera de los derechos fundamentales de la persona.
                        </p>
                    </div>
                    <div class="col-7 offset-md-5">
                        <div class="rectangle bk-black"></div>
                        <p>Los envíos de armas, conforme a lo establecido en el Real Decreto 137/1993, de 29 de enero, por el que se aprueba el Reglamento de Armas.
                        </p>
                    </div>
                    <div class="col-7 offset-md-5">
                        <div class="rectangle bk-black"></div>
                        <p>Las materias explosivas, inflamables y otras peligrosas. 
                        </p>
                    </div>
                    <div class="col-7 offset-md-5">
                        <div class="rectangle bk-black"></div>
                        <p>Los animales vivos de ninguna clase. 
                        </p>
                    </div>
                    <div class="col-7 offset-md-5">
                        <div class="rectangle bk-black"></div>
                        <p>Los objetos cuyo tráfico constituye un delito.</p>
                    </div>
                    <div class="col-7 offset-md-5">
                        <div class="rectangle bk-red"></div>
                        <p class="text-bold">Recuerda que la aceptación por parte de KANGURO de un envío prohibido no te libera de tu responsabilidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
