*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.xl{
    width: 90%;
    margin: 3rem auto;
    overflow: hidden;
    max-width: 1200px;
    display: flex;
}
.xl2{
    width: 100%;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 5rem;
    border-bottom: solid 1px rgba(255, 0, 0, 0.605);
}
.title{
    width: 70%;
    font-family: 'BalooTammudu2Extra';
    color: black;
    font-size: 50px;
    line-height: 53px;
    text-align: center;
}
.texto{
    width: 65%;
    margin-top: 2.5rem;
    font-family: 'BalooTammudu2';
    color: black;
    font-size: 30px;
    line-height: 29px;
    margin-bottom: 6rem;
    margin-top: 4rem;
}
.xl3{
    margin-top: 6rem;
    width: 45%;
    max-width: 500px;
}
.container2{
    margin: 4rem 4rem;
}
.title2{
    font-family: 'BalooTammudu2Extra';
    color: black;
    font-size: 50px;
    line-height: 53px;
}
.texto2{
    width: 45%;
    font-family: 'BalooTammudu2';
    color: black;
    font-size: 30px;
    line-height: 29px;
}
.xl4{
    margin: 4rem auto;
    width: 95%;
    align-items: center;
    display: flex
}
.container3{
    margin: 4rem 0 4rem 0;
    border-bottom: solid 1px rgba(255, 0, 0, 0.605);
    border-top: solid 1px rgba(255, 0, 0, 0.605);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_solicitar{
    background-color: #F43A20;
    color: white;
    width: 262px;
    height: 50px;
    font-size: 35px;
    font-family: 'BalooTammudu2';
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 0px 0px 0px;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 4rem;
}
.texto3{
    margin-top: 4rem;
    color: #F43A20;
    font-size: 35px;
    font-family: 'BalooTammudu2';
    text-align: center;
    text-align: center;
    line-height: 40px;
    margin-bottom: 15px;
}
.container4{
    margin: 4rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title1{
    width: 80%;
    font-family: 'BalooTammudu2';
    color: black;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: 600;
}
.lines{
    width: 100%;
    margin-top: 20px;
}
.content-yellow{
    border: 3px solid #FFD41A;
    border-radius: 25px;
    padding: 25px 25px 20px 25px;
    color: #000000;
    min-height: 280px;
    position: relative;
    h2{
        font-family: 'BalooTammudu2Extra';
        color: #000000;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }
    p{
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        font-family: 'BalooTammudu2';
    }
    .rectangle-green{
        position: absolute;
        width: 16px;
        height: 16px;
        left: -7px;
        top: 94px;
        background: #4BD31A;
    }
    .rectangle-red{
        position: absolute;
        width: 16px;
        height: 16px;
        right: -7px;
        top: 94px;
        background: #ED2424;
    }
}
.arrow-down{
    margin-top: 20px;
    height: 60px;
    margin-bottom: 20px;
}
.rectangle{
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 1px;
}
.bk-black{
    background-color: #000000;
}
.bk-red{
    background-color: #E51616;
}
.text-bold{
    font-family: 'BalooTammudu2-Semi' !important;  
    font-weight: 700 !important; 
}
.content-imgB{
    img{
        height: 80px;
        margin: 20px 0px 40px;
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #000000;
        font-family: 'BalooTammudu2';
        margin-bottom: 20px;
    }
    h3{
        font-size: 15px;
        font-family: 'BalooTammudu2-Semi';
        color: #000000;
    }
}
.content-imgL{
    p{
        padding-left: 25px;
        text-align: left;
        line-height: 20px;
    }
}

/** MOVIL **/
.content-header{
    background: #FED730;
    opacity: 0.9;
    color: #000000;
    padding: 60px 30px 25px;
    text-align: center;
    h2{
        font-family: 'BalooTammudu2Extra';
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 30px;
        color: #000000;
        letter-spacing: -0.04em;
        margin-bottom: 0px;
    }
    p{
        font-family: 'BalooTammudu2-Semi';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.06em;
        margin-bottom: 0px;
        line-height: 20px;
    }
    h3{
        font-family: 'BalooTammudu2-Semi';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -0.05em;
        color: #F43A20;
    }
}
b{
    font-family: "BalooTammudu2-Semi";
    color: #000000;
}
.img-mud{
    margin: 30px auto 20px;
    display: block;
    height: auto;
    width: 85%;
}
.img-mud2{
    margin: 30px auto 20px;
    display: block;
    height: 300px;
    width: auto;
}
.text-info1{   
    font-family: "BalooTammudu2";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 11px;
    text-align: left;
    letter-spacing: -0.06em;
    color: #666666;
    padding: 30px 20px 20px;
    margin: 60px 0px 0px;
    background: #FFD41A;
    p{
        font-size: 15px;
        line-height: 14px;
        margin-bottom: 15px;
    }
}
.title-info{
    font-family: 'BalooTammudu2-Semi';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #000000;
    margin: 70px 0px 30px;
}
.img-mud1{
    margin: 30px auto 20px;
    display: block;
    height: 220px;
    width: auto;
}
.text-info2{
    font-family: 'BalooTammudu2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    padding: 30px 28px 20px;
}
hr{
    border: none;
    border-top: 1px solid #F43A20;
}
.rectangle-line{
    position: relative;
    div{
        width: 13px;
        height: 13px;
        background: #000;
        position: absolute;
        top: -6px;
        right: 30px;
    }
}
.title-info1{
    font-family: 'BalooTammudu2-Semi';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    text-align: left;
    letter-spacing: -0.06em;
    color: #000000;
    margin: 50px 20px 0px;
}
.title-info2{
    font-family: 'BalooTammudu2';
    font-style: normal;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    margin: 5px 20px 0px;
    padding-right: 40px;
}
.rectangle-line2{
    position: relative;
    margin-bottom: 75px;
    div{
        width: 13px;
        height: 13px;
        background: #000;
        position: absolute;
        top: -6px;
        left: 30px;
    }
}
.text-why{
    font-family: "BalooTammudu2-Semi";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #F43A20;
    padding: 20px 40px;
    margin-bottom: 10px;
    margin-top: 40px;
}
.solicitar{
    background-color: #F43A20;
    border-radius: 10px;
    height: 70px;
    padding: 10px 10px 10px 10px;
    width: 230px;
    border: 0px;
    font-family: "BalooThambi";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin: auto;
    display: block;
    margin-bottom: 45px;
}
.arrow-down1 {
    height: 60px;
    display: block;
    margin: 10px auto;
}
.content-emb{
    padding: 0px 20px;
    text-align: center;
}
.text-emb{

}