<main>
   <!-- VERSION APP -->
  <section *ngIf="!showWeb">
    <div class="head">
      <div>
        <img src="./assets/img/kanguro/1..png" alt="" class="uno">
        <p class="cotiza">¡Cotiza <br> y entrega hoy!</p>
      </div>
      <img src="./assets/img/kanguro/box XL Kanguro 1.png" alt="" class="box">
    </div>
    <div>
      <input type="text" class="direccion" placeholder="Direccion de Recojida" style="margin-bottom: 14px;">
      <input type="text" class="direccion" placeholder="Direccion de Entrega">
    </div>
    <div class="image-container ">
      <p class="text_space">Elige tu espacio</p>
    </div>

    <div class="image-containerC">
      <div class="content-container">
        <div class="container">
          <div class="row" style="border-bottom: 1px solid #969696;">
            <div class="col-6 line-col pd-checkbox" style="padding-top: 10px;">
              <input class="form-check-input" type="checkbox" value="" id="box1">
              <label for="box1" (click)="open(classic,'Cotizar', '')">
                <img src="./assets/img/kanguro/box.png" alt="box">
              </label>
            </div>
            <div class="col-6 pd-checkbox" style="padding-top: 10px;">
              <input class="form-check-input" type="checkbox" value="" id="box2">
              <label for="box2" (click)="open(classic,'Cotizar', '')">
                <img src="./assets/img/kanguro/box.png" alt="box">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-6 line-col pd-checkbox">
              <input class="form-check-input" type="checkbox" value="" id="box3">
              <label for="box3" (click)="open(classic,'Cotizar', '')">
                <img src="./assets/img/kanguro/box.png" alt="box">
              </label>
            </div>
            <div class="col-6 pd-checkbox">
              <input class="form-check-input" type="checkbox" value="" id="box4">
              <label for="box4" (click)="open(classic,'Cotizar', '')">
                <img src="./assets/img/kanguro/box.png" alt="box">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="content-line">
        <img src="./assets/img/kanguro/Line 6.png" alt="" class="line6">
        <p class="cm100">120cm</p>
      </div>
    </div>
    <div>
      <img src="./assets/img/kanguro/Line 5.png" alt="" class="camion">
    </div>
    <div class="image-container ">
      <p class="cm120">126cm</p>
    </div>
    <div class="image-container" style="margin-top: 0px;">
      <p class="text-price-empty">PRECIO</p>
    </div>
    <div class="image-container ">
      <button class="solicitar" [routerLink]="['/iniciar']">SOLICITAR</button>
    </div>
  </section>

  <!-- VERSION WEB -->
  <section *ngIf="showWeb">
    <div class="header-web">
      <div class="container container-web">
        <div class="row">
          <div class="col-6">
            <div class="head">
              <div>
                <p class="cotiza">¡Cotiza tu envío <br> y entrega hoy!</p>
              </div>
              <img src="./assets/img/kanguro/box XL Kanguro 1.png" alt="" class="box">
            </div>
            <div>
              <input type="text" class="direccion" placeholder="Direccion de Recojida" style="margin-bottom: 14px;">
              <input type="text" class="direccion" placeholder="Direccion de Entrega">
            </div>
            <div class="image-container">
              <p class="text-price-empty">PRECIO</p>
            </div>
            <div class="image-container ">
              <button class="solicitar" [routerLink]="['/iniciar']">SOLICITAR</button>
            </div>
          </div>
          <div class="col-6">
            <div class="image-container">
              <p class="text_space">¡Elige tu espacio!</p>
            </div>
            <div class="image-containerC">
              <div class="content-container">
                <div class="container">
                  <div class="row" style="border-bottom: 1px solid #969696;">
                    <div class="col-6 line-col pd-checkbox" style="padding-top: 10px;">
                      <input class="form-check-input" type="checkbox" value="" id="box1">
                      <label for="box1" (click)="open(classic,'Cotizar', '')">
                        <img src="./assets/img/kanguro/box.png" alt="box">
                      </label>
                    </div>
                    <div class="col-6 pd-checkbox" style="padding-top: 10px;">
                      <input class="form-check-input" type="checkbox" value="" id="box2">
                      <label for="box2" (click)="open(classic,'Cotizar', '')">
                        <img src="./assets/img/kanguro/box.png" alt="box">
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 line-col pd-checkbox">
                      <input class="form-check-input" type="checkbox" value="" id="box3">
                      <label for="box3" (click)="open(classic,'Cotizar', '')">
                        <img src="./assets/img/kanguro/box.png" alt="box">
                      </label>
                    </div>
                    <div class="col-6 pd-checkbox">
                      <input class="form-check-input" type="checkbox" value="" id="box4">
                      <label for="box4" (click)="open(classic,'Cotizar', '')">
                        <img src="./assets/img/kanguro/box.png" alt="box">
                      </label>
                    </div>
                  </div>
                </div>
              </div> 
              <div class="content-line">
                <img src="./assets/img/kanguro/Line 6.png" alt="line" class="line6">
                <p class="cm100">120cm</p>
              </div>
            </div>
            <div>
              <img src="./assets/img/kanguro/Line 5.png" alt="line" class="camion">
            </div>
            <div class="image-container ">
              <p class="cm120">126cm</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="container content-info">
        <div class="row">
          <div class="col-4">
            <img src="./assets/img/kanguro/iconland1.svg" alt="TRASLADO PARTICULAR" [routerLink]="['/particular']">
            <p class="titleI">TRASLADO PARTICULAR</p>
            <p class="descriptionI">Envío rápido y seguro de <br> tus artículos personales</p>
          </div>
          <div class="col-4">
            <img src="./assets/img/kanguro/iconland2.svg" alt="E-COMMERCE" [routerLink]="['/ecommerce']">
            <p class="titleI">E-COMMERCE</p>
            <p class="descriptionI">Servicio de <br> almacenamiento y envíos <br> programados</p>
          </div>
          <div class="col-4">
            <img src="./assets/img/kanguro/iconland3.svg" alt="ENVÍOS FLEXIBLES" [routerLink]="['/xl']">
            <p class="titleI">ENVÍOS FLEXIBLES</p>
            <p class="descriptionI">Servicio de paqueteria<br> grande a toda <span>BARCELONA</span></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <ngb-carousel
      #carousel
      [keyboard]="true"
      (slide)="onSlide($event)"
      >
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="img-slider" src="./assets/img/kanguro/slider1.svg" alt="ENVÍOS FLEXIBLES" [routerLink]="['/particular']"/>
            <img src="./assets/img/kanguro/Kanguro letras rojas 3.png" alt="" class="kanguro">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="img-slider" src="./assets/img/kanguro/slider2.svg" alt="ENVÍOS FLEXIBLES" [routerLink]="['/ecommerce']"/>
            <img src="./assets/img/kanguro/Kanguro letras rojas 3.png" alt="" class="kanguro">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="img-slider" src="./assets/img/kanguro/slider3.svg" alt="ENVÍOS FLEXIBLES" [routerLink]="['/xl']"/>
            <img src="./assets/img/kanguro/Kanguro letras rojas 3.png" alt="" class="kanguro">
          </div>
        </ng-template>
       
      </ngb-carousel>
    </section>

    <div style="margin: 100px;"></div>

    
  </section>

  <!-- MODAL SELECCION DE TAMAÑO -->
  <ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header">
      <p class="modal-title" id="modal-title-default">Elige tu espacio</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-delete">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="content-boxModal">
        <img src="./assets/img/kanguro/box.png" alt="box" class="boxModal">
        <div class="lineV"></div>
        <p>80cm</p>
      </div>
      <div class="content-lineH">
        <div class="lineH"></div>
        <p>60cm</p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container">
        <div class="row">
          <div class="col-6" style="border-right: 1px solid #000000;">
            <p class="title-text">Medidas box</p>
            <div class="desc-text">
              <p>Alto: 80cm</p>
              <p>Ancho: 60cm</p>
              <p>Profundidad: 40cm</p>
            </div>
            <p class="title-text">Medidas baul</p>
            <div class="desc-text">
              <p>Alto: 120cm</p>
              <p>Ancho: 126cm</p>
              <p>Profundidad: 88cm</p>
            </div>
          </div>
          <div class="col-6">
            <p class="title-text">PESO</p>
            <div class="desc-text">
              <p>Máximo 25 kg</p>
            </div>
            <button type="button" class="btn btn-select" data-dismiss="modal" (click)="c('Close click')">SELECCIONAR</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  
  
  <div class="position-relative">
    <!-- shape Hero -->
    <!--section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Kanguro Delivery
                <span>Introduce el número del pedido</span>
              </h1>

            </div>
          </div>
          <div class="col-lg-12 col-sm-12">
            <div class="form-group" style="display: flex;">
              <input type="text" placeholder="Ejm: 50345" class="form-control" [(ngModel)]="id"/> 
              <div class="btn-wrapper">
                <a (click)="navigateToSection(id,'account-about')" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-search" style="color: black;"></i></span>
                  <span class="btn-inner--text" >Buscar</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <!--div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section-->
    <!-- 1st Hero Variation -->
    
  </div>
  <!--section class="section section-lg pt-lg-0 mt--200" >
    <div class="container" [hidden]="!mostrar">
      <div class="row justify-content-center">
        <div class="col-lg-12" >
          <div class="row row-grid">
            <div class="col-lg-3" *ngFor="let p of pedidos; index as i;">
              <div class="card card-lift--hover shadow border-0" style="height: 380px;">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-shop" [hidden]="i!=0"></i>
                    <i class="ni ni-notification-70" [hidden]="i!=1"></i>
                    <i class="ni ni-send" [hidden]="i!=2"></i>
                    <i class="ni ni-check-bold" [hidden]="i!=3"></i>
                    <i class="ni ni-check-books" [hidden]="i!=4"></i>
                  </div>
                  <h6 class="text-primary text-uppercase" [hidden]="i!=0">Pedido creado</h6>
                  <h6 class="text-primary text-uppercase" [hidden]="i!=1">Pedido asignado</h6>
                  <h6 class="text-primary text-uppercase" [hidden]="i!=2">Pedido en camino</h6>
                  <h6 class="text-primary text-uppercase" [hidden]="i!=3">Pedido entregado</h6>
                  <h6 class="text-primary text-uppercase" [hidden]="i!=4">Pedido cancelado</h6>
                  <p class="description mt-3"[hidden]="i!=0">Tu pedido ha sido creado y registrado en nuestro sistema. Pronto se estará enviando!</p>
                  <p class="description mt-3"[hidden]="i!=1">Tu pedido ha sido asignado a un repartidor. Va a buscar tu paquete!                 </p>
                  <p class="description mt-3"[hidden]="i!=2">El repartidor ya esta en camino a entregar tu pedido!                               </p>
                  <p class="description mt-3"[hidden]="i!=3">Tu pedido ha sido entregado con éxito! <br>                                         </p>
                  <p class="description mt-3"[hidden]="i!=4">Tu pedido ha sido cancelado!</p>
                  <div>
                    <span class="badge badge-pill badge-primary">angular</span>
                    <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                    <span class="badge badge-pill badge-primary">creative</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4" (click)="open(classic,'' , '')">Ver más</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Build Something</h6>
                  <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
                  <div>
                    <span class="badge badge-pill badge-success">business</span>
                    <span class="badge badge-pill badge-success">vision</span>
                    <span class="badge badge-pill badge-success">success</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-success mt-4">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Prepare Launch</h6>
                  <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">marketing</span>
                    <span class="badge badge-pill badge-warning">product</span>
                    <span class="badge badge-pill badge-warning">launch</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <ng-template #classic let-c="close" let-d="dismiss">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="modal-title-default">Información del destino</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <table border="1">
                <tr>
                  <td class="category">Origen</td>
                  <td class="name">Destino</td>
                  <td class="price">Estado</td>
                  </tr>
                <tr *ngFor="let d of pedidos[0].destinos">
                <td class="category">{{d.origen}}</td>
                <td class="name">{{d.destino}}</td>
                <td class="price" [hidden]="d.estado_destino==3">Entregado</td>
                <td class="price" [hidden]="d.estado_destino!=3">En camino</td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Cerrar</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

  </section-->
  
  <div id="account-about"></div>
</main>
