 <!-- VERSION MOVIL -->
 <section *ngIf="!showWeb">
    <div class="content-header">
        <h2>ALMACENAJE <br> y ENVÍO.</h2>
        <p>¡Todo lo que un E-COMMERCE NECESITA para enviar a</p>
        <h3>CATALUÑA!</h3>
    </div>
    <img class="img-mud" src="./assets/img/kanguro/ECOMMERCE 1.png" alt="ECOMMERCE">
    
    <p class="text-why">¿COMENZAMOS? 
        ¡SOLICITA TU PRESUPUESTO AHORA! </p>
    
    <button class="solicitar" [routerLink]="['/landing']">SOLICITAR</button>
    
    <p class="text-price">Tarifas plana para toda Cataluña</p>
    
    <div class="rectangle-line">
        <hr>
        <div></div>
    </div>
    <p class="text-info1">Nuestra experiencia en el sector Ecommerce  nos permite ofrecerte soluciones logísticas a la medida de las necesidades de tu negocio, y en el tiempo óptimo de envío.</p>
    <p class="text-info1">Nos encargamos del almacenamiento, picking & packing y la entrega de tus productos en la provincia de Cataluña. Ocúpate de vender Nosotros nos encargamos del resto!</p>
    <hr>

    <p class="title-info">¡KANGURO LOGISTIC ES <br> EL SOCIO LOGÍSTICO QUE <br> ESTABAS BUSCANDO!</p>
    <div class="rectangle-line">
        <div></div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-6">
                <img class="img-info1" src="./assets/img/kanguro/e1.svg" alt="e1">
            </div>
            <div class="col-6">
                <img class="img-info1" src="./assets/img/kanguro/e2.svg" alt="e2">
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-6">
                <img class="img-info1" src="./assets/img/kanguro/e3.svg" alt="e3">
            </div>
            <div class="col-6">
                <img class="img-info1" src="./assets/img/kanguro/e4.svg" alt="e4">
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-6">
                <img class="img-info1" src="./assets/img/kanguro/e5.svg" alt="e5">
            </div>
            <div class="col-6">
                <img class="img-info1" src="./assets/img/kanguro/e6.svg" alt="e6">
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-6">
                <img class="img-info1" src="./assets/img/kanguro/e7.svg" alt="e7">
            </div>
            <div class="col-6">
                <img class="img-info1" src="./assets/img/kanguro/e8.svg" alt="e8">
            </div>
        </div>
    </div>
    <div class="circle-line">
        <hr>
        <div></div>
    </div>
    <p class="title-info">¿CÓMO FUNCIONA <br> LA LOGÍSTICA PARA <br> E-COMMERCE? </p>

    <div class="containera1">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-6">
                <div class="content-infoF">
                    <h3>1. RECEPCIÓN</h3>
                    <p>Almacenamiento y clasificación</p>
                </div>
            </div>
            <div class="col-6">
                <div class="content-infoF">
                    <h3>2. ALMACÉN</h3>
                    <p>Almacén logístico personalizado</p>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-6">
                <div class="content-infoF">
                    <h3>3. CONTROL 
                        DE INVENTARIO</h3>
                    <p>¡Seguimiento automatizado en tiempo real!</p>
                </div>
            </div>
            <div class="col-6">
                <div class="content-infoF">
                    <h3>4. PREPARACIÓN DE PEDIDOS</h3>
                    <p>Eficencia y agilidad de entrega</p>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-6">
                <div class="content-infoF">
                    <h3>5. DISTRIBUCIÓN</h3>
                    <p>Envíos urgentes a toda BARCELONA</p>
                </div>
            </div>
            <div class="col-6">
                <div class="content-infoF">
                    <h3>6. SEGUIMIENTO EN TIEMPO REAL</h3>
                    <p>¡A solo un clic de cumplir tus objetivos de venta!</p>
                </div>
            </div>
        </div>
    </div>  
</section>
 

 <!-- VERSION WEB -->
 <section *ngIf="showWeb">
    <!--div class="container1">
        <div class="head_left col-5">
            <p class="head1">ALMACENAJE <br>y ENVÍO.</p>
            <p class="head2">¡Todo lo que un <br> E-COMMERCE NECESITA para enviar a <span class="red"> CATALUÑA!</span> </p>
        </div>
        <div class="head_right col-7">
            <img src="./assets/img/kanguro/ecommerce01 1.png" alt="" class="img_head">
            <img src="./assets/img/kanguro/Kanguro letras rojas 3.png" alt="" class="kanguro"> 
        </div>
        
    </div>
    <div class="head_botton">
        <p class="head3">Tarifas plana para toda Cataluña</p>   
    </div-->
    <div class="header">
        <img src="./assets/img/kanguro/eco.svg" alt="" class="">
    </div>
    
</section>

<section class="container2" *ngIf="showWeb">
    <div class="head4">
        <div class="col6">
            <span class="circle-black"></span>
            <p class="c1">
                Nuestro servicio esta diseñado para optimizar tu cadena de suministro y agilizar tus operaciones logísticas. Desde la recepción y almacenamiento de tus productos hasta el empaquetado y envío, nos encargamos de cada paso para que puedas centrarte en hacer crecer tu negocio.
            </p>
        </div>
        <div class="col6">
            <span class="circle-black"></span>
            <p class="c1">
                Al externalizar tus necesidades de almacenamiento y envío a nosotros, puedes centrarte en otras áreas clave de tu negocio, como el marketing, el desarrollo de productos y la atención al cliente. Nos encargamos de la logística para que podamos enfocarte en hacer crecer tu negocio.
            </p>
        </div>
    </div>
</section>

<section class="container3" *ngIf="showWeb">
    <p class="head1">
        ¿Comenzamos? <br> REGISTRATE E INCREMENTA TUS VENTAS
    </p>
    <span class="boton" [routerLink]="['/registro']">SOLICITAR</span>

    <p class="p2">¡KANGURO DELIVERY ES EL SOCIO <br> LOGÍSTICO QUE HARA CRECER TU NEGOCIO</p>
    
    <p class="p3">Estamos preparados para almacenar y envíar una <br> amplia variedad de productos, adaptándonos a las <br> necesidades de tu negocio.</p>
    
    <img src="./assets/img/kanguro/4x2.svg" alt="" class="img4x2">

    <p class="p4">
        Logística sin complicaciones para tu e-Commerce: <br> Descubre nuestro PROCESO paso a paso.
    </p>
    <!--p class="p2 pp2">¿CÓMO FUNCIONA LA LOGÍSTICA PARA E-COMMERCE? </p>

    <div class="row logistica">
        <div class="col-4">
            <p class="log1">1. RECEPCIÓN</p>
            <p class="log2">Almacenamiento y clasificación</p>
        </div>
        <div class="col-4">
            <p class="log1">2. ALMACÉN</p>
            <p class="log2">Almacén logístico personalizado</p>
        </div>
        <div class="col-4">
            <p class="log1">3. CONTROL DE INVENTARIO</p>
            <p class="log2">¡Seguimiento automatizado en tiempo real!</p>
        </div>
    </div>
    <div class="row logistica">
        <div class="col-4">
            <p class="log1">4. PREPARACIÓN DE PEDIDOS</p>
            <p class="log2">Eficencia y agilidad de entrega</p>
        </div>
        <div class="col-4">
            <p class="log1">5. DISTRIBUCIÓN</p>
            <p class="log2">Envíos urgentes a toda BARCELONA</p>
        </div>
        <div class="col-4">
            <p class="log1">6. SEGUIMIENTO EN TIEMPO REAL</p>
            <p class="log2">¡A solo un clic de cumplir tus objetivos de venta!</p>
        </div>
    </div-->
</section>

<section class="gallery" *ngIf="showWeb">
    <figure class="gallery__pic gallery__pic--i1">
        <img src="./assets/img/kanguro/recepcion.svg" alt="" class="gallery__img">
    </figure>
    <figure class="gallery__pic gallery__pic--i2">
        <img src="./assets/img/kanguro/almacen.svg" alt="" class="gallery__img">
    </figure>
    <figure class="gallery__pic gallery__pic--i3">
        <img src="./assets/img/kanguro/inventario.svg" alt="" class="gallery__img">
    </figure>
    <figure class="gallery__pic gallery__pic--i4">
        <img src="./assets/img/kanguro/orden.svg" alt="" class="gallery__img">
    </figure>
    <figure class="gallery__pic gallery__pic--i5">
        <img src="./assets/img/kanguro/distribucion.svg" alt="" class="gallery__img">
    </figure>
    <figure class="gallery__pic gallery__pic--i6">
        <img src="./assets/img/kanguro/seguimiento.svg" alt="" class="gallery__img">
    </figure>
</section>

<section class="footer" *ngIf="showWeb">
    <p [routerLink]="['/terminos']">POLITICA DE COOKIES <span>|</span> LEGAL</p>
    <img src="./assets/img/kanguro/Kanguro letras blancas 2.png" alt="" class="icon-footer">
</section>