<p class="precio_km">PRECIO <span style="color:#FFBD00; font-weight: bold;">|</span> KM</p>
<section class="pedido"> 
    <div class="datos_pedido">
        <p class="titulo">ORIGEN</p>
        <div class="origen">
            <div class="row" class="btn_limpiar">
                <p class="limpiar">Limpiar Campos</p>
            </div>
            <div class="row ml">
                <div class="col-4 campos">
                    <p class="campo1">Nombre(s)</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-8 campos">
                    <p class="campo1">Apellido(s)</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
            </div>
            <div class="row ml">
                <div class="col-8 campos">
                    <p class="campo1">Dirección</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-2 campos">
                    <p class="campo1">Nro. Piso</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-2 campos">
                    <p class="campo1">Puerta</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
            </div>
            <div class="row ml">
                <div class="col-2 campos2">
                    <p class="campo1">C.P</p>
                    <input type="text" class="campo2">
                    <p class="campo1" style="margin-top: 14px; text-align: right;">FECHA</p>
                </div>
                <div class="col-4 campos2">
                    <p class="campo1">Teléfono</p>
                    <input type="text" class="campo2">
                    <input type="text" class="campo2">
                </div>
                <div class="col-6 campos2">
                    <p class="campo1">Notas</p>
                    <textarea name="" id="" cols="30" rows="10" class="campo2" style="height: 54px;"></textarea>
                </div>
            </div>
        </div>
        <br>
        <p class="titulo">DESTINO</p>
        <div class="origen">
            <div class="row" class="btn_limpiar">
                <p class="limpiar">Limpiar Campos</p>
            </div>
            <div class="row ml">
                <div class="col-4 campos">
                    <p class="campo1">Nombre(s)</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-8 campos">
                    <p class="campo1">Apellido(s)</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
            </div>
            <div class="row ml">
                <div class="col-8 campos">
                    <p class="campo1">Dirección</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-2 campos">
                    <p class="campo1">Nro. Piso</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-2 campos">
                    <p class="campo1">Puerta</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
            </div>
            <div class="row ml">
                <div class="col-2 campos2">
                    <p class="campo1">C.P</p>
                    <input type="text" class="campo2">
                    <p class="campo1" style="margin-top: 14px; text-align: right;">FECHA</p>
                </div>
                <div class="col-4 campos2">
                    <p class="campo1">Teléfono</p>
                    <input type="text" class="campo2">
                    <input type="text" class="campo2">
                </div>
                <div class="col-6 campos2">
                    <p class="campo1">Notas</p>
                    <textarea name="" id="" cols="30" rows="10" class="campo2" style="height: 54px;"></textarea>
                </div>
            </div>
            <div class="row rango">
                <div class="col-6 izquierda">
                    <p class="title_rango">
                        Rango de envío
                    </p>   
                    <select name="" id="" class="sle"></select>
                </div>
                <div class="col-6 derecha">
                    <span class="btn_espacio" (click)="open(classic, 'classic')">ELEGIR ESPACIO</span>
                </div>
            </div>
        </div>
        <div class="medio">
            <span class="boton" (click)="open(payment, 'payment')">ENVIAR</span>
        </div>
    </div>
    <div class="mapa">dsfsdfsfsd
        <div id="map"></div>
    </div>
</section>

 <!-- MODAL SELECCION DE TAMAÑO -->
 <ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header">
      <p class="modal-title" id="modal-title-default">Elige tu espacio</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-delete">X</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="image-containerC">
            <div class="content-container">
              <div class="container">
                <div class="row" style="border-bottom: 1px solid #969696;">
                  <div class="col-6 line-col pd-checkbox" style="padding-top: 10px;">
                    <input class="form-check-input" type="checkbox" value="" id="box1">
                    <label for="box1">
                      <img src="./assets/img/kanguro/box.png" alt="box">
                    </label>
                  </div>
                  <div class="col-6 pd-checkbox" style="padding-top: 10px;">
                    <input class="form-check-input" type="checkbox" value="" id="box2">
                    <label for="box2">
                      <img src="./assets/img/kanguro/box.png" alt="box">
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 line-col pd-checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="box3">
                    <label for="box3">
                      <img src="./assets/img/kanguro/box.png" alt="box">
                    </label>
                  </div>
                  <div class="col-6 pd-checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="box4">
                    <label for="box4">
                      <img src="./assets/img/kanguro/box.png" alt="box">
                    </label>
                  </div>
                </div>
              </div>
            </div> 
        </div>
        <div>
            <img src="./assets/img/kanguro/Line 5.png" alt="" class="camion">
        </div>
    </div>
    <div class="modal-footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="title-text">Medidas box</p>
            <div class="desc-text">
              <p>Alto: 80cm</p>
              <p>Ancho: 60cm</p>
              <p>Profundidad: 40cm</p>
            </div>
            <p class="title-text">Medidas baul</p>
            <div class="desc-text">
              <p>Alto: 120cm</p>
              <p>Ancho: 126cm</p>
              <p>Profundidad: 88cm</p>
            </div>
          </div>
          <div class="col-6">
            <p class="title-text">PESO</p>
            <div class="desc-text">
              <p>Máximo 25 kg</p>
            </div>
            <button type="button" class="btn btn-select" data-dismiss="modal" (click)="c('Close click')">SELECCIONAR</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

<!-- MODAL PAGO -->
 <ng-template #payment let-c="close" let-d="dismiss">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-delete">X</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="content-title">
            <p class="title1">REALIZAR PAGO</p>
            <p class="title2">50.00 €</p>
        </div>
        <div class="row">
            <div class="col-12 campos1">
                <p class="campo1">Número de tarjeta</p>
                <input class="campo2 campo2a" type="text" placeholder="1234 1234 1234 1234">
            </div>
            <div class="col-12 campos1">
                <p class="campo1">Titular de tarjeta</p>
                <input class="campo2 campo2a" type="text" placeholder="Nombre y apellido">
            </div>
        </div>
        <div class="row">
            <div class="col-6 campos1">
                <p class="campo1">Caducidad</p>
                <input class="campo2 campo2a" type="text" placeholder="MM/AA">
            </div>
            <div class="col-6 campos1">
                <p class="campo1">CVC</p>
                <input class="campo2 campo2a" type="text" placeholder="CVC">
            </div>
        </div>
        <button class="btn-pay" (click)="open(confirm, 'confirm')">PAGAR</button>
        <div class="custom-control custom-checkbox custom-checkbox-green">
            <input type="checkbox" class="custom-control-input custom-control-input-green" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Guardar tarjeta en favoritos.</label>
        </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>

<!-- MODAL CONFIRM -->
<ng-template #confirm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-delete">X</span>
      </button>
    </div>
    <div class="modal-body">
        <img src="./assets/img/kanguro/logotipoblanco.svg" alt="" class="logotipo"> 
        <p class="text-info">SU ENVÍO SE ESTA PROCESANDO Y PRONTO SALDRA A REPARTO</p>
        <button class="btn-pay">ESTADO DEL ENVÍO</button>
        <button class="btn-pay">HISTORIAL</button>
        <button class="btn-pay">REALIZAR OTRO ENVÍO</button>
    </div>
  </ng-template>