*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2vh;
}
.datos_pedido{
    width: 60%;
    background: #F1F1F1;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 15px;

}
.pedido{
    display: flex;
}
.content_map{
    width: 40%;
}
.mapa{
    width: 40%;
    background: rgba(237, 237, 237, 0.8);
    padding: 22px 16px 94px 16px;
    border-radius: 15px;
    margin-right: 2rem;
}
.ml{
    margin-right: 30px;
    margin-left: 13px;
    margin-top: 5px;
}
.btn_limpiar{
    display: flex;
    justify-content: end;
    font-size: 12px;
}
.limpiar1 {
    text-align: right;
    background-color: #FFBD00;
    font-family: BalooTammudu2;
    color: white;
    font-size: 11px;
    border-radius: 0px 11px 0px 0px;
    padding: 5px 5px 0px 5px;
    height: 22px;
}
.limpiar{
    text-align: right;
    background-color: #FFBD00;
    font-family: BalooTammudu2;
    color: white;
    font-size: 11px;
    border-radius: 0px 0px 0px 0px;
    padding: 5px 5px 0px 5px;
    height: 22px;
}
.precio_km{
    text-align: right;
    font-family: BalooTammudu2Extra;
    color: #00000032;
    font-size: 31px;
    padding: 2px 35px 0px 0px;
    margin-bottom: -15px;
}

.titulo{
    font-family: BalooTammudu2Extra;
    color: red;
    padding-left: 40px;
    font-size: 2.5vh;
    line-height: 9px;
    padding-top: 7px;
    border-bottom: 2px solid rgba(255, 189, 0, 1);
}
.origen{
   // background-color: #343434;
    padding: 0px 0px 0px 0px;
    color: #020202;
}
.campos{
    padding: 0px 0px 0px 16px;
    display: flex;
    flex-direction: column;
    
}
.campo1{
    font-family: BalooTammudu2Extra;
    color: black;
    font-size: 2vh;
    margin-left: 1px;
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: clip;
    line-height: 20px;
    padding-top: 5px;
}
.campo2{
    width: 100%;
    border-radius: 8px;
    border: 0px;
    height: 3.5vh;
    padding-left: 10px;
}
.campos2{
    padding: 0px 0px 15px 16px;
    display: flex;
    flex-direction: column;
}
.rango{
    background-color: #FFBD00;
    padding: 16px;
    border-radius: 0px 0px 15px 15px;
}
.izquierda{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.derecha{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.title_rango{
    font-family: BalooTammudu2-Semi;
    color: black;
    line-height: 13px;
    margin-top: 5px;
    margin-left: 8px;
}
.btn_espacio{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-family: BalooTammudu2-Semi;
    color: white;
    background: black;
    padding: 10px 0px 0px 0px;
    border-radius: 10px;
    height: 45px;
    cursor: pointer;
    font-size: 19px;
    line-height: 17px;
    border: none;
}
.sle{
    width: 22vh;
    border-radius: 9px;
    border: 1px solid black;
    text-align: center;
}
.medio{
    display: flex;
    justify-content: center;
}
.boton{
    background-color: #F43A20;
    color: white;
    width: 244px;
    height: 50px;
    font-size: 29px;
    font-family: 'BalooTammudu2Extra';
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 0px 0px 0px;
    gap: 10px;
    margin-top: 1.5rem;
    cursor: pointer;
}
#map {
    height: 100%; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }




  @media (max-width: 990px) {
    .datos_pedido{
      width: 100%;
    }
    .mapa{
        width: 0%;
        display: none;
    }
  }


  /*** MODAL ***/
::ng-deep .modal-cotizar{
    .modal-content{
        border-radius: 10px;
        background-color: #C6C6C6;
        width: 90%;
        margin: auto;
    }
    .modal-header{
        background-color: #F43A20;
        color: #ffffff;
        text-align: center;
        align-items: center;
    }
    .modal-title{
        font-family: 'BalooThambi';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    .icon-delete{
        font-family: 'Almarai-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 25px !important;
        color: #FFFFFF !important;
    }
    .close{
        opacity: 1 !important;
        z-index: 9999 !important;
        margin-right: 0px;
    }
    .modal-body{
        padding: 10px 20px;
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 33px;
        color: #020202;
    }
    .content-boxModal{
        display: flex;
        align-items: center;
    }
    .boxModal{
        height: 140px;
    }
    .lineV{
        border: 1px dashed rgba(0, 0, 0, 0.70);
        height: 120px;
        margin-right: 10px;
    }
    .lineH{
        border: 1px dashed rgba(0, 0, 0, 0.70);
        height: 1px;
        margin-top: 10px;
    }
    .content-lineH{
        width: 130px;
        text-align: center;
        margin-left: 15px;
        p{
            margin-bottom: 0px;
        }
    }
    .modal-footer{
        background-color: #F43A20;
        border-top: none;
        border-radius: 0px 0px 10px 10px;
        padding: 10px 10px 15px 10px;
        position: relative;
        .title-text{
            font-family: 'BalooThambi';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 33px;
            color: #FFFFFF;
            margin-bottom: 0px;
            text-transform: uppercase;
        }
        .desc-text{
            p{
                font-family: 'Almarai';
                font-style: normal;
                font-size: 13px;
                line-height: 16px;
                color: #FFFFFF;
                margin-bottom: 0px;
            }
        }
        .btn-select{
            padding: 2px 8px;
            margin: 30px auto 10px;
            background: #090909;
            border-radius: 5px;
            color: #FFFFFF;
            font-family: 'BalooThambi';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            display: block;
        }
        .rectangle-black{
            position: absolute;
            width: 20px;
            height: 20px;
            left: 20px;
            top: -10px;
            background: #000000;
        }
    }
    .modal-dialog{
        max-width: 650px;
    }
    .circle-box{
        float: right;
        margin-top: 30px;
        margin-right: 20px;
        border: 5px solid #F43A20;
        border-radius: 50em;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            color: #FFFFFF;
            font-family: 'BalooThambi';
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 33px;
        }
    }
    .img-box{
        width: 70%;
        display: block;
        margin: 130px auto 0px;
    }
}
.image-containerC {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    position: relative;
    max-width: 420px;
}
input[type=checkbox]{
    position: absolute;
    right: 16%;
    top: 18px;
}
#box3,#box4{
    top: 8px !important;
}
label{
    margin-bottom: 0px;
}
.pd-checkbox input {
    opacity: 0;
    position: absolute;
}
.pd-checkbox input,
.pd-checkbox label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pd-checkbox label {
    position: relative;
}
.pd-checkbox input+label:before {
    content: '';
    border: 2px solid rgb(221, 221, 221);
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 4px;
    margin-right: 10px;
    text-align: center;
    font-size: 17px;
    line-height: 10px;
    position: absolute;
    right: 9px;
    top: 13px;
    border-radius: 50em;
}
.pd-checkbox input:checked+label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: rgb(211, 47, 47);
    color: rgb(0, 0, 0);
    border-color: rgb(211, 47, 47);
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    right: 3px;
    top: 9px;
}
.content-container{
    background-image: url('/assets/img/kanguro/CAMION KANGURO 1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    width: 100%;
    min-height: 41vh;
    max-width: 330px;
    padding: 26px 30px;
    margin: auto;
    .container{
        background: rgba(217, 217, 217, 0.6);
        .col-6{
            text-align: center;
            padding: 0px;
            padding-bottom: 5px;
            img{
                width: 100%;
            }
        }
        .line-col{
            border-right: 1px solid #969696;
        }
    }
}

/** MODAL PAGO **/
::ng-deep .modal-payment{
    .modal-content{
        border-radius: 10px;
        background-color: transparent;
        width: 90%;
        margin: auto;
        background: rgba(198, 198, 198, 0.9);
    }
    .modal-header{
        background: transparent;
        color: #ffffff;
        text-align: center;
        align-items: center;
        height: 100px;
    }
    .icon-delete{
        font-family: 'Almarai-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 25px !important;
        color: #FFFFFF !important;
    }
    .close{
        opacity: 1 !important;
        z-index: 9999 !important;
        margin-right: 0px;
    }
    .modal-body{
        padding: 10px 20px;
        font-family: 'BalooTammudu2';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 33px;
        color: #ffffff;
        background-color: #343434;
        border-radius: 5px;
    }
    .content-title{
        display: flex;
        align-items: center;
        .title1{
            font-family: "BalooTammudu2-Semi";
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            flex: 1;
            text-align: right;
            border-right: 3px solid #FFBD00;
            padding-right: 5px;
            padding-top: 10px;
        }
        .title2{
            flex: 1;
            font-family: "BalooTammudu2-Semi";
            font-size: 35px;
            text-align: left;
            padding-left: 7px;
            line-height: 35px;
            padding-top: 16px;
        }
    }
    .campos1{
        margin: 20px 0px 10px;
    }
    .campo2a{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        padding-left: 10px;
        padding-top: 10px;
        line-height: 25px;
    }
    .btn-pay{
        background: #FFBB00;
        border-radius: 5px;
        font-family: "BalooThambi";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        padding: 8px;
        text-align: center;
        border: none;
        margin: 5px 0px;
    }
    .custom-control{
        text-align: center;
        margin-top: 10px;
    }
    .custom-control-label{
        margin-left: 30px;
        color: white;
    }
    .custom-control-input-green:focus~.custom-control-label::before {
        border-color: #FFBB00 !important;
        box-shadow: 0 0 0 0.2rem #f6c91540 !important;
      }
      
      .custom-control-input-green:checked~.custom-control-label::before {
        border-color: #FFBB00 !important;
        background-color: #FFBB00 !important;
      }
      
      .custom-control-input-green:focus:not(:checked)~.custom-control-label::before {
        border-color: #FFBB00 !important;
      }
      
      .custom-control-input-green:not(:disabled):active~.custom-control-label::before {
        background-color: #d6f5dd !important;
        border-color: #d6f5dd !important;
      }
    
      .custom-control-label::before {
        border: 1px solid #FFBB00;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background: #FFBB00;
    }
    .modal-footer{
        background-color: transparent;
        border-top: none;
        height: 100px;
    }
}
.mlm{
    margin-left: 0px;
    margin-right: 14px;
    margin-top: 0px;
    input, textarea{
        background: #F2F2F2;
        border-radius: 5px;
        margin-bottom: 7px;
        padding-right: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.alert{
    font-size: 20px;
    font-family: BalooTammudu2-Semi;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    position: absolute;
    width: 100%;
}
/** MODAL CONFIRM **/
::ng-deep .modal-confirm{
    .modal-content{
        background: #343434;
        height: 100vh;
    }
    .modal-dialog{
        /*margin: 0px;*/
    }
    .modal-header{
        background: #343434;
        color: #ffffff;
        text-align: center;
        align-items: center;
        height: 100px;
        border: none;
    }
    .icon-delete{
        font-family: 'Almarai-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 25px !important;
        color: #FFFFFF !important;
    }
    .close{
        opacity: 1 !important;
        z-index: 9999 !important;
        margin-right: 0px;
    }
    .modal-body{
        padding: 10px 50px;
        font-family: 'BalooTammudu2';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 33px;
        color: #ffffff;
        background-color: #343434;
        border-radius: 5px;
        text-align: center;
    }
    .text-info{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #fff !important;
        margin-bottom: 15px;
    }
    .logotipo{
        margin-top: 20px;
        height: 29vh;
        margin-bottom: 30px;
    }
    .btn-pay{
        background: #F43A20;
        border-radius: 15px;
        font-family: "BalooThambi";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        width: 80%;
        padding: 12px 0px;
        text-align: center;
        border: none;
        margin: 7px 0px;
    }
}

.help{
    color: red;
    font-size: 13px;
}