<p class="precio_km">PRECIO <span style="color:#FFBD00; font-weight: bold;">|</span> KM</p>
<section class="pedido"> 
    <div class="datos_pedido">
        <p class="titulo">ORIGEN</p>
        <div class="origen">
            <div class="row" class="btn_limpiar">
                <p class="limpiar">Limpiar Campos</p>
            </div>
            <div class="row ml">
                <div class="col-4 campos">
                    <p class="campo1">Nombre(s)</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-8 campos">
                    <p class="campo1">Apellido(s)</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
            </div>
            <div class="row ml">
                <div class="col-8 campos">
                    <p class="campo1">Dirección</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-2 campos">
                    <p class="campo1">Nro. Piso</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-2 campos">
                    <p class="campo1">Puerta</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
            </div>
            <div class="row ml">
                <div class="col-2 campos2">
                    <p class="campo1">C.P</p>
                    <input type="text" class="campo2">
                    <p class="campo1" style="margin-top: 14px; text-align: right;">FECHA</p>
                </div>
                <div class="col-4 campos2">
                    <p class="campo1">Teléfono</p>
                    <input type="text" class="campo2">
                    <input type="text" class="campo2">
                </div>
                <div class="col-6 campos2">
                    <p class="campo1">Notas</p>
                    <textarea name="" id="" cols="30" rows="10" class="campo2" style="height: 54px;"></textarea>
                </div>
            </div>
        </div>
        <br>
        <p class="titulo">DESTINO</p>
        <div class="origen">
            <div class="row" class="btn_limpiar">
                <p class="limpiar">Limpiar Campos</p>
            </div>
            <div class="row ml">
                <div class="col-4 campos">
                    <p class="campo1">Nombre(s)</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-8 campos">
                    <p class="campo1">Apellido(s)</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
            </div>
            <div class="row ml">
                <div class="col-8 campos">
                    <p class="campo1">Dirección</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-2 campos">
                    <p class="campo1">Nro. Piso</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-2 campos">
                    <p class="campo1">Puerta</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
            </div>
            <div class="row ml">
                <div class="col-2 campos2">
                    <p class="campo1">C.P</p>
                    <input type="text" class="campo2">
                    <p class="campo1" style="margin-top: 14px; text-align: right;">FECHA</p>
                </div>
                <div class="col-4 campos2">
                    <p class="campo1">Teléfono</p>
                    <input type="text" class="campo2">
                    <input type="text" class="campo2">
                </div>
                <div class="col-6 campos2">
                    <p class="campo1">Notas</p>
                    <textarea name="" id="" cols="30" rows="10" class="campo2" style="height: 54px;"></textarea>
                </div>
            </div>
            <div class="row rango">
                <div class="col-6 izquierda">
                    <p class="title_rango">
                        Rango de envío
                    </p>   
                    <select name="" id="" class="sle"></select>
                </div>
                <div class="col-6 derecha">
                    <span class="btn_espacio">ELEGIR ESPACIO</span>
                </div>
            </div>
        </div>
        <div class="medio">
            <span class="boton">ENVIAR</span>
        </div>
    </div>
    <div class="mapa">dsfsdfsfsd
        <div id="map"></div>
    </div>
</section>


