<section>
    <div class="header">
        <img src="./assets/img/kanguro/perfil.svg" alt="" class="perfil">
        <div class="datos">
            <p class="nombre">MI CUENTA</p>
            <p class="info">Información general</p>
        </div>
    </div>
</section>

<section class="gallery">
    <figure class="gallery__pic gallery__pic--i1">
        <span class="btn">Perfil</span>
    </figure>
    <figure class="gallery__pic gallery__pic--i2">
        <span class="btn">Datos de facturación</span>
    </figure>
    <figure class="gallery__pic gallery__pic--i3">
        <span class="btn">Favoritos</span>
    </figure>
    <figure class="gallery__pic gallery__pic--i4">
        <span class="btn btn_danger">Realizar un envío</span>
    </figure>
</section>
<section>
    <div class="origen">
        <div class="row" class="btn_limpiar">
            <p class="limpiar">Perfil</p>
        </div>
        <div class="row ml">
            <div class="col-6 campos">
                <p class="campo1">Nombre(s)</p>
                <input class="campo2" type="text" placeholder="">
            </div>
            <div class="col-6 campos">
                <p class="campo1">Apellido(s)</p>
                <input class="campo2" type="text" placeholder="">
            </div>
        </div>
        <div class="row ml">
            <div class="col-6 campos">
                <p class="campo1">NIF/NIE/Pasaporte</p>
                <input class="campo2" type="text" placeholder="">
            </div>
            <div class="col-6 campos">
                <p class="campo1">Teléfono</p>
                <input class="campo2" type="text" placeholder="">
            </div>
        </div>
        <div class="row ml">
            <div class="col-8 campos">
                <p class="campo1">Correo eléctronico</p>
                <input class="campo2" type="text" placeholder="">
            </div>
        </div>
        <div class=" rango">
            <div class="row">
                <div class="col-9 campos">
                    <p class="campo13 ">Dirección principal</p> 
                    <input class="campo2" type="text" placeholder="">  
                </div>
                <div class="col-3 campos">
                    <p class="campo13 ">Nro. Piso</p>   
                    <input class="campo2" type="text" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-3 campos">
                    <p class="campo13 ">Puerta</p> 
                    <input class="campo2" type="text" placeholder="">  
                </div>
                <div class="col-3 campos">
                    <p class="campo13 ">C.P.</p>   
                    <input class="campo2" type="text" placeholder="">
                </div>
                <div class="col-6 medio">
                    <span class="btn_espacio">Actualizar Datos</span>
                </div>
            </div>
        </div>
    </div>
</section>