.navbar-transparent{
    position:  relative !important;
}
.navbar{
    padding: 5px 10px;
}
.sesion{
    color: white;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 500px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: #F6F6F6;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    background-color: #FFD41A;
  }

  .arriba{
    font-size: 'Almarai';
    font-weight: bold;
    font-size: 13px;
    margin: 4rem 3rem;
  }
  .abajo{
    font-size: 'Almarai';
    font-size: 13px;
    margin: 4rem 3rem 4rem 3rem;
  }

@media (min-width: 992px){
    .navbar-brand img{
        height: 40px;
    }
    .container{
        max-width: none;
    }
    .navbar-nav .nav-item{
        margin-right: 0px;
    }
    .nav-link{
        cursor: pointer;
    }
    .nav-link:hover{
        background-color: #FFBB00;
    }
    .navbar-nav .nav-link{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar-nav .nav-link-icon i {
        margin-right: 5px;
        font-size: 22px;
    }
    .ml-left{
        margin-left: 15vw;
    }
    .navbar-nav .nav-link .nav-link-inner--text{
        font-family: 'Almarai';
        font-style: normal;
        font-size: 15px;
        padding-bottom: 5px;
    }
    .line-site{
        border-bottom: 2px solid #FFFFFF;
    }
}
@media (max-width: 360px) {
    .text-li{
        font-size: 16px !important;
        line-height: 0px !important;
        margin-top: 10px !important;
    }
    .sesion{
        font-size: 14px;
    }
}
@media (max-width: 991.98px){

    .navbar-collapse.show {
        padding: 0px;
        border-radius:0px;
        background: #FFBB00;
        animation: show-navbar-collapse 0.01s ease forwards;
        box-shadow: none;
    }
    .navbar-collapse{
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 1050;
        margin: 0px;
        overflow-y: auto;
        opacity: 0;
        bottom: 0;
        height: 95vh !important;
        text-align: right;
    }

    .line-bottom{
        border-bottom: 1px solid #FFFFFF;
        padding-left: 20px;
    }
    .content-ul{
        width: 75%;
        float: right;
        margin-top: 8vh;
    }
    .text-li{
        font-family: "BalooTammudu2-Semi";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin-top: 17px;
    }
}

.menu-web{
    position: absolute;
    right: 30px;
    top: 70px;
    background: #F43A20;
    border-radius: 15px;  
    padding: 7px;
    width: 300px;
    .content-web{
        background-color: #fff;
        border-radius: 15px;  
    }
    li{
        list-style: none;
        border-bottom: 1px solid #F43A20;
        a{
            font-size: 16px;
            color: #000;
            font-family: "BalooTammudu2-Semi";
            padding-top: 17px;
            line-height: 18px;
            padding-left: 25px;
        }
    } 
    img{
        margin: 15px auto 10px;
        display: block;
        height: 18px;       
    } 
    .item-ye{
        
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            margin: 0px;
            margin-top: 5px;
            flex: 1;
        }
    }
    
    .img-logo{
        margin: 0px;
    }
    .li-session{
        margin-bottom: 13px;
        margin-top: 8px;
    }
}
e:hover{
    background-color: #FFBD00 !important;
}