<nav *ngIf="showWeb" id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top" style="background-color: #F43A20;">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/']" (click)="inicio()">
      <img src="./assets/img/kanguro/isotipo color BLANCO SOLIDO 1.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      
      <ul class="navbar-nav align-items-lg-center">
        <!--li class="nav-item">
          <a class="nav-link" href="/#/particular" (click)="particular()" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text " [style]="typeStyles1()">Traslado particular</span>
          </a>
        </li-->
        <li class="nav-item">
          <a class="nav-link" href="/#/" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text" [style]="typeStyles2()">INICIO</span>
          </a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
          <a class="nav-link" href="/#/servicios" (click)="ecommerce()" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text" [style]="typeStyles2()">SERVICIOS</span>
            
          </a>
          
            <div class="dropdown-content">
            <a href="/#/servicios"><span class="arriba">Logística E-Commerce</span><br><span class="abajo">Almacenamiento, pick&pack, entrega de la mercancía </span></a>
            <a href="/#/servicios"><span class="arriba">BrandedBox</span><br><span class="abajo">Soluciones para Impulsar tu Marca con Packaging Personalizado</span></a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/nosotros" (click)="xl()"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text" [style]="typeStyles3()">NOSOTROS</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/contacto" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text">CONTACTO</span>
          </a>
        </li>
      </ul>


      <ul class="menu-web align-items-lg-center" *ngIf="showMenuWeb && ensesion.name!=null && showApp == '0'">
        <div class="content-web">
          <li class="nav-item">
            <a class="nav-link item-ye e" href="/#/pedido" (click)="realizarEnvio(2)" data-toggle="tooltip" title="">
              <p class="nav-link-inner--text">Realizar envíos</p>
              <img class="img-logo" src="./assets/img/kanguro/isotipo color BLANCO SOLIDO 1.png">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link e" href="/#/estadoPedido" (click)="estadoEnvio(2)" data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Estado del envío</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link e" href="/#/historialPedido" (click)="historialEnvio(2)"  data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Historial de envíos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#/miCuenta" (click)="miCuenta()" data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Mi cuenta</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#/miCuenta" (click)="miCuenta()" data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Contacto</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link li-session" href="/#/iniciar" (click)="cerrar()" data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Cerrar de sesión</span>
            </a>
          </li>
        </div>
        <img src="./assets/img/kanguro/Kanguro letras blancas 2.png" alt="" class="logotipo"> 
      </ul>

      <ul class="menu-web align-items-lg-center" *ngIf="showMenuWeb && ensesion.name!=null && showApp == '1'">
        <div class="content-web">
          <li class="nav-item">
            <a class="nav-link item-ye" href="/#/pedidoEcommerce" (click)="realizarEnvio(1)" data-toggle="tooltip" title="">
              <p class="nav-link-inner--text">Realizar envíos</p>
              <img class="img-logo" src="./assets/img/kanguro/isotipo color BLANCO SOLIDO 1.png">
            </a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link" href="/#/pedido" (click)="realizarEnvioU()" data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Realizar envíos urgentes</span>
            </a>
          </li-->
          <li class="nav-item">
            <a class="nav-link" href="/#/estadoPedidoEcommerce" (click)="estadoEnvio(1)" data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Estado del envío</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#/historialPedidoEcommerce" (click)="historialEnvio(1)"  data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Historial de envíos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#/reprogramarEcommerce" (click)="reprogramarEnvio()"  data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Reprogramar envío</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#/producto" (click)="misProductos()"  data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Mis Productos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#/guias" (click)="misProductos()"  data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Guías</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#/liquidaciones" (click)="misProductos()"  data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Liquidaciones</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#/miCuenta" (click)="miCuenta()" data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Mi cuenta</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#/miCuenta" (click)="miCuenta()" data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Usuarios</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#/miCuenta" (click)="miCuenta()" data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Contacto</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link li-session" href="/#/iniciar" (click)="cerrar()" data-toggle="tooltip" title="">
              <span class="nav-link-inner--text">Cerrar de sesión</span>
            </a>
          </li>
        </div>
        <img src="./assets/img/kanguro/Kanguro letras blancas 2.png" alt="" class="logotipo"> 
      </ul>

      <ul class="navbar-nav align-items-lg-center ml-left">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/" target="_blank" data-toggle="tooltip" title="Like us on Whatsapp">
            <i class="fa fa-whatsapp"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <i class="fa fa-linkedin"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto"> V0.9<span class="sesion" *ngIf="ensesion.name!=null"> Hola, {{ensesion.name}} </span> <span class="sesion" *ngIf="ensesion.name==null" (click)="iniciar()">Iniciar sesión</span>
        <li class="nav-item ml-lg-auto">
          <a class="nav-link nav-link-icon" (click)="showMenuWeb = !showMenuWeb" data-toggle="tooltip">
            <img src="./assets/img/kanguro/profile.png" alt="">
          </a>
        </li>
      </ul>
      
      <!--button (click)="particular()">Particular</button>{{this.show}}
      <button (click)="ecommerce()">E-Commerce</button>
      <button (click)="cerrar()" [routerLink]="['/']">Cerrar sesión</button-->
    </div>
  </div>
</nav>

<nav *ngIf="!showWeb" id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top" style="background-color: #F43A20;">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/']">
      <img src="./assets/img/kanguro/isotipo color BLANCO SOLIDO 1.png">
    </a>
    <div>
      V0.9<span class="sesion" *ngIf="ensesion.name !=null"> Hola, {{ensesion.name}} </span>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed; getUser();"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed" style="background-color: #FFBB00; color: #FFBB00;">
      <ul class="navbar-nav align-items-lg-center content-ul" *ngIf="showApp == '0' && ensesion.name !=null">
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/pedido" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text line-site text-li">Realizar envíos</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/estadoPedido"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text text-li">Estado del envío</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/historialPedido"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text text-li">Historial de envíos</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/miCuenta" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Mi cuenta</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/miCuenta" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Contacto</span>
          </a>
        </li>
        <li class="nav-item" style="padding-left:20px;">
          <a class="nav-link" href="/#/iniciar" (click)="cerrar()" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Cerrar sesión</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-lg-center content-ul" *ngIf="showApp == '1' && ensesion.name !=null">
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/pedidoEcommerce" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text line-site text-li">Realizar envíos</span>
          </a>
        </li>
        <!--li class="nav-item line-bottom">
          <a class="nav-link" href="/#/pedido" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text line-site text-li">Realizar envíos urgentes</span>
          </a>
        </li-->
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/estadoPedidoEcommerce"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text text-li">Estado del envío</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/historialPedidoEcommerce"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text text-li">Historial de envíos</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/reprogramarEcommerce" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Reprogramar envío</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/producto" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Mis productos</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/guias" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Guias</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/liquidaciones" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Liquidaciones</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/miCuenta" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Mi cuenta</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/miCuenta" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Usuarios</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/miCuenta" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Contacto</span>
          </a>
        </li>
        <li class="nav-item" style="padding-left:20px;">
          <a class="nav-link" href="/#/iniciar" (click)="cerrar()" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Cerrar sesión</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-lg-center content-ul" *ngIf="ensesion.name ==null">
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/iniciar" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text line-site text-li">Acceder</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text text-li">Realizar envíos</span>
          </a>
        </li>
        <!--li class="nav-item line-bottom">
          <a class="nav-link" href="/#/particular"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text text-li">Traslado particular</span>
          </a>
        </li-->
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/ecommerce" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Servicio</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/xl" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Envíos XL</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Inicio</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Contacto</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
