<nav *ngIf="showWeb" id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top" style="background-color: #F43A20;">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/landing']">
      <img src="./assets/img/kanguro/isotipo color BLANCO SOLIDO 1.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/landing']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      
      <ul class="navbar-nav align-items-lg-center" *ngIf="show==0">
        <li class="nav-item">
          <a class="nav-link" href="/#/particular" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text line-site">Traslado particular</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/ecommerce"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text">E-Commerce</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/xl"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text">Envio XL</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <span class="nav-link-inner--text">Contacto</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center" *ngIf="show==1">
        <li class="nav-item">
          <a class="nav-link" href="/#/pedido" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text line-site">Realizar envíos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/estadoPedido"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text">Estado del envío</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/historialPedido"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text">Historial de envíos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/miCuenta" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <span class="nav-link-inner--text">Mi cuenta</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-lg-center" *ngIf="show==2">
        <li class="nav-item">
          <a class="nav-link" href="/#/pedidoEcommerce" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text line-site">Realizar envíos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/estadoPedidoEcommerce"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text">Estado del envío</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/historialPedidoEcommerce"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text">Historial de envíos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/reprogramarEcommerce" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <span class="nav-link-inner--text">Reprogramar envío</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/miCuenta" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <span class="nav-link-inner--text">Mi cuenta</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-lg-center ml-left">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/" target="_blank" data-toggle="tooltip" title="Like us on Whatsapp">
            <i class="fa fa-whatsapp"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <i class="fa fa-linkedin"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto"> <span class="sesion" *ngIf="ensesion.name!=null"> Hola, {{ensesion.name}} </span> <span class="sesion" *ngIf="ensesion.name==null" (click)="iniciar()">Iniciar sesión</span>
        <li class="nav-item ml-lg-auto">
          <a class="nav-link nav-link-icon" href="/#/miCuenta" data-toggle="tooltip">
            <img src="./assets/img/kanguro/profile.png" alt="">
          </a>
        </li>
      </ul>
      
      <!--button (click)="particular()">Particular</button>{{this.show}}
      <button (click)="ecommerce()">E-Commerce</button>
      <button (click)="cerrar()" [routerLink]="['/landing']">Cerrar sesión</button-->
    </div>
  </div>
</nav>

<nav *ngIf="!showWeb" id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top" style="background-color: #F43A20;">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/landing']">
      <img src="./assets/img/kanguro/isotipo color BLANCO SOLIDO 1.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed; getUser();"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed" style="background-color: #FFBB00; color: #FFBB00;">
      <ul class="navbar-nav align-items-lg-center content-ul" *ngIf="showApp == '0'">
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/pedido" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text line-site text-li">Realizar envíos</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/estadoPedido"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text text-li">Estado del envío</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/historialPedido"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text text-li">Historial de envíos</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/miCuenta" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Mi cuenta</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/miCuenta" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Contacto</span>
          </a>
        </li>
        <li class="nav-item" style="padding-left:20px;">
          <a class="nav-link" href="/#/landing" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Cerrar de sesión</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-lg-center content-ul" *ngIf="showApp == '1'">
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/pedidoEcommerce" data-toggle="tooltip" title="">
            <span class="nav-link-inner--text line-site text-li">Realizar envíos</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/estadoPedidoEcommerce"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text text-li">Estado del envío</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/historialPedidoEcommerce"  data-toggle="tooltip" title="">
            <span class="nav-link-inner--text text-li">Historial de envíos</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/reprogramarEcommerce" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Reprogramar envío</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/producto" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Mis productos</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/producto" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Guias</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/miCuenta" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Mi cuenta</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/miCuenta" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Usuarios</span>
          </a>
        </li>
        <li class="nav-item line-bottom">
          <a class="nav-link" href="/#/miCuenta" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Contacto</span>
          </a>
        </li>
        <li class="nav-item" style="padding-left:20px;">
          <a class="nav-link" href="/#/landing" data-toggle="tooltip">
            <span class="nav-link-inner--text text-li">Cerrar de sesión</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
