<div class="alert alert-default" role="alert" *ngIf="isDanger2">
    <strong>Error, no encontramos tu dirección.</strong> 
</div>
<div class="header">
    <p class="titu">Empresa</p>
    <p class="precio_km">PRECIO <span style="color:#FFBD00; font-weight: bold;">| </span><span style="color: black;" class="precio_km"> {{precio | number : '1.0-2'}} € </span></p>
</div>

<section class="pedido"> 
    <div class="datos_pedido">
        <p class="titulo">ORIGEN</p>
        <div class="origen">
            <div class="row ml">
                <div class="col-8 campos">
                    <p class="campo1">Almacén</p>
                    <input class="campo2" type="text" placeholder="" [(ngModel)]="orige.nombre_origen" name="inputnombre_origen" #nombre_origen="ngModel" disabled>
                    <img src="./assets/img/kanguro/poligonoama.svg" alt="" class="poli">
                    <ng-container *ngIf="nombre_origen.invalid && nombre_origen.dirty">
                        <span class="help is-danger">Este campo es requerido</span>
                    </ng-container>
                </div>
                <div class="col-4 campos">
                    <p class="campo1">Fecha solicitud</p>
                    <input class="campo2" type="text" placeholder="" [(ngModel)]="orige.fecha" name="inputfecha" #fecha="ngModel"  disabled>
                    <ng-container *ngIf="fecha.invalid && fecha.dirty">
                        <span class="help is-danger">Este campo es requerido</span>
                    </ng-container> 
                </div>
            </div>
            <div class="row ml" [hidden]="true">
                <div class="col-7 campos">
                    <p class="campo1">Dirección</p>
                    <input class="campo2" type="text" placeholder="" id="pac-input" (blur)="ver(0)" [(ngModel)]="orige.origen" name="inputorigen" #origen="ngModel" required>
                    <ng-container *ngIf="origen.invalid && origen.dirty">
                      <span class="help is-danger">Este campo es requerido</span>
                    </ng-container>  
                </div>
            </div>

        </div>
        <br>
        <p class="titulo">DESTINO</p>
        <div class="destino" *ngFor="let destino of destinos;let indice=index">
            <div class="row ml">
                <div class="col-8 campos">
                    <p class="campo1">Dirección de Destino</p>
                    <input class="campo2" type="text" placeholder=""  id="pac-input2" (blur)="ver2(indice+1)" [(ngModel)]="destino.destino" name="inputdestino" #destino="ngModel" required>
                    <ng-container *ngIf="destino.invalid && destino.dirty">
                        <span class="help is-danger">Este campo es requerido</span>
                    </ng-container>
                </div>
                <div class="col-2 campos">
                    <p class="campo1">Nro. Piso</p>
                    <input class="campo2" type="text" placeholder=""  [(ngModel)]="destino.departamento_destino" name="inputdepartamento_destino" #departamento_destino="ngModel" required>
                    <ng-container *ngIf="departamento_destino.invalid && departamento_destino.dirty">
                        <span class="help is-danger">Este campo es requerido</span>
                    </ng-container>
                </div>
                <div class="col-2 campos">
                    <p class="campo1">Puerta</p>
                    <input class="campo2" type="text" placeholder="">
                </div>
            </div>
            <div class="row ml">
                <div class="col-4 campos">
                    <p class="campo1">Nombre de Contacto</p>
                    <input class="campo2" type="text" placeholder="" [(ngModel)]="destino.nombre_destino" name="inputnombre_destino" #nombre_destino="ngModel" required>
                    <ng-container *ngIf="nombre_destino.invalid && nombre_destino.dirty">
                        <span class="help is-danger">Este campo es requerido</span>
                    </ng-container>
                </div>
                <div class="col-4 campos">
                    <p class="campo1">Teléfono</p>
                    <input class="campo2" type="text" placeholder="" [(ngModel)]="destino.telefono_destino" name="inputtelefono_destino" #telefono_destino="ngModel" required>
                    <ng-container *ngIf="telefono_destino.invalid && telefono_destino.dirty">
                        <span class="help is-danger">Este campo es requerido</span>
                    </ng-container>
                </div>
                <div class="col-2 campos">
                    <p class="campo1">C.P.</p>
                    <input class="campo2" type="text" placeholder="" [(ngModel)]="destino.distrito_destino" name="inputdistrito_destino" #distrito_destino="ngModel" required>
                    <ng-container *ngIf="distrito_destino.invalid && distrito_destino.dirty">
                        <span class="help is-danger">Este campo es requerido</span>
                    </ng-container>
                </div>
            </div>
            <div class="row ml">
                <div class="col-12 campos2">
                    <p class="campo1">Notas</p>
                    <textarea name="" id="" cols="30" rows="10" class="campo2" style="height: 54px;" [(ngModel)]="destino.comentarios2" name="inputcomentarios2" #comentarios2="ngModel" required></textarea>
                    
                </div>
            </div>
            <div class="row ml">
                <div class="col-9 campos2">
                    <p class="campo1">Productos</p>
                    <textarea name="" id="" cols="30" rows="10" class="campo2" style="height: 54px;" [(ngModel)]="destino.detalle" name="inputdetalle" #detalle="ngModel" required></textarea>
                    <ng-container *ngIf="detalle.invalid && detalle.dirty">
                        <span class="help is-danger">Este campo es requerido</span>
                      </ng-container>
                </div>
                <div class="col-2 campos2" style="max-width: 75px;padding-top: 18px;">
                    <img src="./assets/img/kanguro/cesta.svg" (click)="n(indice);open(view,'view')" alt="" class="cesta">
                </div>
            </div>
            <div class="row ml amarillo" >
                <div class="col-2 campos">
                    <p class="campo1">Cantidad</p>  
                    <input class="sle2" type="text" placeholder="" [(ngModel)]="destino.cantidad" name="inputcantidad" #cantidad="ngModel" required> 
                </div>
                <div class="col-5 campos">
                    <p class="campo1">Fecha de envío</p>  
                    <input type="text" [placement]="top" class="sle2" [(ngModel)]="destino.fecha_destino" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" name="inputfecha_destino" #fecha_destino="ngModel" required>
                    <ng-container *ngIf="fecha_destino.invalid && fecha_destino.dirty"> 
                    <span class="help is-danger">Este campo es requerido</span>
                    </ng-container>
                </div>
                <div class="col-5 campos">
                    <p class="campo1">Rango de envío</p>  
                    <select [(ngModel)]="destino.hora_destino" class="sle2">
                        <option *ngFor="let r of rangos" [value]="r" [attr.selected]="r">
                          {{r}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row ml amarillo">
                <div class="col-2 campos">
                    
                </div>
                <div class="col-5 campos">
                    <span class="btn_espacio" (click)="limpiar1(indice)">Limpiar Campos</span>
                </div>
                <div class="col-5 campos">
                    <span class="btn_espacio2" (click)="addDestinos()">Agregar Destino</span>
                </div>
            </div>
            <div class="row ml amarillo">
                <div class="col-2 campos">
                </div>
                <div class="col-5 campos">
                </div>
                <div class="col-5 campos">
                    <span class="btn_enviar" (click)="enviar()">ENVIAR</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mapa">
        <div id="map"></div>
        <div class="row medio">
          <span class="boton" (click)="enviar()" >ENVIAR</span>
        </div>
    </div>
</section>

<!-- MODAL VIEW -->
<ng-template #view let-c="close" let-d="dismiss">
    <div class="modal-header">
        <p class="modal-title" id="modal-title-default">Producto</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="despachar();d('Cross click')">
        <span aria-hidden="true" class="icon-delete" >DESPACHAR</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6" *ngFor="let item of products; index as p;">
                <div class="content-product">
                    <img class="imageP" src="{{item.selec_image}}" alt="imagen">
                    <p class="titleP1">{{item.nombre}}</p>
                    <p class="cantP">{{item.descripcion}}</p>
                    
                    <p class="text-infoP">Color</p>
                    <div class="content-colors">
                        <div class="rectangle-color" *ngFor="let item of item.colores; index as i;" [ngStyle]="{'background-color': item.color}" (click)="selectColor(p,i)"></div>
                    </div>

                    <p class="text-infoP">Modelo:</p>
                    <div class="content-colors">
                        <div class="rectangle-color" *ngFor="let item of item.selec_atributos; index as i;"  (click)="selectAtributo(p,i)">{{item.atributo}}</div>
                    </div>

                    <p class="cantP">Cantidad disponible: {{item.selec_cantidad}}</p>

                    <hr>
                    <div class="content-btn">
                        <p>X{{item.selec_selec}}</p>
                        <div>
                            <img src="./assets/img/kanguro/menos.svg" alt="" (click)="quitar(p)">
                            <img src="./assets/img/kanguro/mas.svg" alt="" (click)="add(p)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>


