*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.datos_pedido{
    width: 50%;
}
.pedido{
    display: flex;
}
.mapa{
    width: 40%;
}
.ml{
    margin-right: 16px;
}
.btn_limpiar{
    display: flex;
    justify-content: end;
    font-size: 12px;
}
.limpiar{
    text-align: right;
    background-color: black;
    font-family: BalooTammudu2;
    color: white;
    font-size: 13px;
    padding: 2px 5px 0px 5px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
}
.titu{
    text-align: left;
    font-family: BalooTammudu2Extra;
    color: black;
    font-size: 24px;
    padding: 10px 35px 0px 0px;
}
.precio_km{
    text-align: right;
    font-family: BalooTammudu2Extra;
    color: #00000032;
    font-size: 23px;
    padding: 10px 35px 0px 0px;
}
.titulo{
    font-family: BalooTammudu2-Semi;
    color: rgba(255, 189, 0, 1);
    padding-left: 20px;
    font-size: 18px;
    line-height: 9px;
}
.origen{
    background-color: white;
    padding: 0px 0px 0px 0px;
    margin-top: 3px;
    border-top: 1px solid #FFBD00;
    padding-top: 20px;
}
.destino{
    background-color: white;
    padding: 0px 0px 0px 0px;
    padding-top: 20px;
}
.campos{
    padding: 0px 0px 15px 16px;
    display: flex;
    flex-direction: column;
    
}
.campo1{
    font-family: BalooTammudu2;
    color: black;
    font-size: 15px;
    line-height: 9px;
    margin-left: 1px;
    white-space: nowrap;
}
.campo2{
    width: 100%;
    border-radius: 6px;
    background: rgba(242, 242, 242, 1);
    border: 0px;
    height: 35px;
}
.poli{
    width: 12px;
    position: absolute;
    top: 17px;
    right: 3px;
}
.campos2{
    padding: 0px 0px 15px 16px;
    display: flex;
    flex-direction: column;
}
.rango{
    background-color: #FFBD00;
    padding: 16px;
}
.izquierda{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.derecha{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.title_rango{
    font-family: BalooTammudu2-Semi;
    color: black;
    line-height: 13px;
    margin-top: 5px;
    margin-left: 8px;
}
.btn_espacio{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-family: BalooTammudu2-Semi;
    color: white;
    background: black;
    padding: 6px 0px 0px 0px;
    border-radius: 12px;
    height: 34px;
    cursor: pointer;
    font-size: 15px;
}
.btn_espacio2{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-family: BalooTammudu2-Semi;
    color: white;
    background: #343434;
    padding: 6px 0px 0px 0px;
    border-radius: 12px;
    height: 34px;
    cursor: pointer;
    font-size: 15px;
}
.btn_enviar{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-family: BalooTammudu2-Semi;
    color: white;
    background: #FFBD00;
    padding: 6px 0px 0px 0px;
    border-radius: 12px;
    height: 34px;
    cursor: pointer;
    font-size: 18px;
}
.sle{
    width: 125px;
    border-radius: 9px;
    border: 1px solid black;
}
.sle2{
    width: 100%;
    border-radius: 9px;
    border: 1px solid black;
}  
.medio{
    display: flex;
    justify-content: center;
}
.boton{
    background-color: #F43A20;
    color: white;
    width: 244px;
    height: 50px;
    font-size: 29px;
    font-family: 'BalooTammudu2Extra';
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 0px 0px 0px;
    gap: 10px;
    margin-top: 1.5rem;
    cursor: pointer;
}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }




  @media (max-width: 990px) {
    .datos_pedido{
      width: 100%;
    }
    .mapa{
        width: 0%;
        display: none;
    }
  }