*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.datos_pedido{
    width: 50%;
}
.pedido{
    display: flex;
}
.mapa{
    width: 50%;
}
.ml{
    margin-right: 16px;
}
.btn_limpiar{
    display: flex;
    justify-content: end;
    font-size: 12px;
}
.limpiar{
    text-align: right;
    background-color: black;
    font-family: BalooTammudu2;
    color: white;
    font-size: 13px;
    padding: 2px 5px 0px 5px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
}
.titu{
    text-align: left;
    font-family: BalooTammudu2Extra;
    color: black;
    font-size: 24px;
    padding: 10px 35px 0px 0px;
}
.precio_km{
    text-align: right;
    font-family: BalooTammudu2Extra;
    color: #00000032;
    font-size: 23px;
    padding: 10px 35px 0px 0px;
}
.titulo{
    font-family: BalooTammudu2-Semi;
    color: rgba(255, 189, 0, 1);
    padding-left: 20px;
    font-size: 18px;
    line-height: 9px;
}
.origen{
    background-color: white;
    padding: 0px 0px 0px 0px;
    margin-top: 3px;
    border-top: 1px solid #FFBD00;
    padding-top: 20px;
}
.destino{
    background-color: white;
    padding: 0px 0px 0px 0px;
    padding-top: 20px;
}
.campos{
    padding: 0px 0px 15px 16px;
    display: flex;
    flex-direction: column;
    
}
.campo1{
    font-family: BalooTammudu2;
    color: black;
    font-size: 15px;
    line-height: 9px;
    margin-left: 1px;
    white-space: nowrap;
}
.campo2{
    width: 100%;
    border-radius: 6px;
    background: rgba(242, 242, 242, 1);
    border: 0px;
    height: 35px;
}
.poli{
    width: 12px;
    position: absolute;
    top: 17px;
    right: 3px;
}
.campos2{
    padding: 0px 0px 15px 16px;
    display: flex;
    flex-direction: column;
}
.rango{
    background-color: #FFBD00;
    padding: 16px;
}
.izquierda{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.derecha{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.title_rango{
    font-family: BalooTammudu2-Semi;
    color: black;
    line-height: 13px;
    margin-top: 5px;
    margin-left: 8px;
}
.btn_espacio{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-family: BalooTammudu2-Semi;
    color: white;
    background: black;
    padding: 6px 0px 0px 0px;
    border-radius: 12px;
    height: 34px;
    cursor: pointer;
    font-size: 15px;
}
.btn_espacio2{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-family: BalooTammudu2-Semi;
    color: white;
    background: #343434;
    padding: 6px 0px 0px 0px;
    border-radius: 12px;
    height: 34px;
    cursor: pointer;
    font-size: 15px;
}
.btn_enviar{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-family: BalooTammudu2-Semi;
    color: white;
    background: #FFBD00;
    padding: 6px 0px 0px 0px;
    border-radius: 12px;
    height: 34px;
    cursor: pointer;
    font-size: 18px;
}
.sle{
    width: 125px;
    border-radius: 9px;
    border: 1px solid black;
}
.sle2{
    width: 100%;
    border-radius: 9px;
    border: 1px solid black;
}  
.medio{
    display: flex;
    justify-content: center;
}
.boton{
    background-color: #F43A20;
    color: white;
    width: 244px;
    height: 50px;
    font-size: 29px;
    font-family: 'BalooTammudu2Extra';
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 0px 0px 0px;
    gap: 10px;
    margin-top: 1.5rem;
    cursor: pointer;
}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }

  @media (max-width: 990px) {
    .datos_pedido{
      width: 100%;
    }
    .mapa{
        width: 0%;
        display: none;
    }
  }

  /*** MODAL ADD ***/
::ng-deep .modal-add{
    .modal-content{
        border-radius: 10px;
        background-color: #fff;
        width: 100%;
        margin: auto;
    }
    .modal-header{
        background-color: #FFBD00;
        color: #ffffff;
        text-align: center;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .modal-title{
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 29px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        width: 100%;
        text-align: left;
        margin: 20px 20px 5px;
    }
    .icon-delete{
        font-family: 'Almarai-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 15px !important;
        color: #F43A20 !important;
    }
    .close{
        opacity: 1 !important;
        z-index: 9999 !important;
        margin-right: 0px;
        width: 225px;
    }
    .content-title{
        display: flex;
        align-items: center;
        .title1{
            font-family: "BalooTammudu2-Semi";
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            flex: 1;
            text-align: right;
            border-right: 3px solid #FFBD00;
            padding-right: 5px;
            padding-top: 18px;
            opacity: 0.3;
        }
        .title2{
            flex: 1;
            font-family: "BalooTammudu2-Semi";
            font-size: 22px;
            text-align: left;
            padding-left: 7px;
            line-height: 35px;
            padding-top: 16px;
        }
    }
    .modal-body{
        padding: 10px 5px;
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 33px;
        color: #020202;
    }
    .solicitar1{
        background: #FFBD00;
        border-radius: 10px;
        font-family: "BalooThambi";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 9px;
        color: #fff;
        border: none;
        padding: 12px 12px;
        margin: 12px auto;
        display: block;
        width: 90%;
    }
    .rectangle-color{
        width: 30px;
        height: 30px;
    }
    .text-infoP{
        line-height: 20px;
        font-size: 15px;
    }
    .content-colors{
        display: flex;
        margin-bottom: 15px;
    }
    input{
        background: #F2F2F2;
        border-radius: 5px;
        border: none;
        padding-left: 10px;
        width: 100%;
        font-size: 13px;
        padding-top: 7px;
        height: 30px;
        font-family: "BalooTammudu2-Semi";
        color: #000;
        margin-bottom: 10px;
    }
    .inpCant{
        width: 60%;
        font-size: 17px;
        height: 32px;
        text-align: center;
        padding-left: 0px;
    }
    .col-6 {
        padding: 0px 10px 8px;
    }
    .titleP1{
        line-height: 13px;
        margin-top: 12px;
        font-size: 14px;
        font-family: BalooTammudu2-Semi;
    }
    .cantP{
        font-size: 11px;
    }
    .imageP{
        height: 150px;
        width: 100%;
        object-fit: cover;
    }
    .content-product{
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 7px;
    }
    hr{
        border-top: 1px solid #F43A20;
    }
    .content-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-size: 25px;
            font-family: BalooTammudu2Extra; 
            margin-top: 17px;
        }
        img{
            margin-left: 10px;
        }
    }
}