.header{
    width: 90%;
    margin: 80px auto;
    overflow: hidden;
    max-width: 1200px;
    display: flex;
}

.header__left{
    display: block;
    padding: 100px 0px 0px 0px;
}

.porq{
    font-family: 'BalooTammudu2-Semi';
    line-height: 28px;
    color: #F43A20;
    font-weight: 700;
    font-size: 45px;
}

.btn_solicitar{
    background-color: #F43A20;
    color: white;
    width: 262px;
    height: 50px;
    font-size: 38px;
    font-family: 'BalooTammudu2';
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 0px 0px 0px;
    gap: 10px;
    cursor: pointer;
}

.img_solicitar{
    width: 100%;
}

.mapita{
    width: 100%;
    margin-bottom: 25px;
}



.container3{
    border-top: solid black;
    border-bottom: solid black;
    
    
}
.c3{
    display: flex;
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
}
.c3_texto{
    margin: 10px 0px 0px 35px;
    width: 39%;
    font-family: BalooTammudu2;
    color: black;
    font-size: 21px;
    line-height: 26px;
}
.c3_img0{
    width: 57px;
    height: 68px;
    position: relative;
    top: 1.5rem;;
}
.c3_img{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 4%;
}
.c3_img1{
    width: 60px;
    height: 60px;
    position: relative;
    top: 1.5rem;;
    margin-left: 8%;
}
.c3_img2{
    width: 60px;
    height: 60px;
    position: relative;
    top: 1.5rem;;
    margin-left: 8%;
}
.c3_img3{
    width: 60px;
    height: 60px;
    position: relative;
    top: 1.5rem;;
    margin-left: 8%;
}
.c3_img4{
    width: 60px;
    height: 60px;
    position: relative;
    top: 1.5rem;;
    margin-left: 8%;
}
.c3_img5{
    width: 60px;
    height: 60px;
    position: relative;
    top: 1.5rem;;
    margin-left: 8%;
}
.c3_img6{
    width: 141px;
    height: 30px;
    position: relative;
    top: 2.5rem;;
    margin-left: 8%;
}


.container4{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    padding-top: 10px;
    overflow: hidden;

}
.extra{
    font-family: 'BalooTammudu2Extra';
}
.c4_titulo1{
    font-family: 'BalooTammudu2';
    color: black;
    font-weight: 700;
    font-size: 40px;
    margin-top: 30px;
    width: 50%;
    text-align: center;
    line-height: 41px;
}
.c4_texto1_1{
    font-family: 'BalooTammudu2';
    color: black;
    font-size: 24px;
    margin-top: 24px;
}
.c4_texto1_2{
    font-family: 'BalooTammudu2';
    color: black;
    font-size: 24px;
    margin-top: -24px;
}
.c4_texto2_2{
    font-family: 'BalooTammudu2';
    color: black;
    font-size: 24px;
    margin-top: -24px;
    width: 50%;
    text-align: center;
}
.c4_texto3{
    font-family: 'BalooTammudu2';
    color: black;
    font-size: 24px;
    width: 70%;
    text-align: center;
    margin-top: 24px;
}

/** MOVIL **/
.content-header{
    background: #FED730;
    opacity: 0.9;
    color: #000000;
    padding: 60px 30px 25px;
    text-align: center;
    h2{
        font-family: 'BalooTammudu2Extra';
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 26px;
        color: #000000;
        letter-spacing: -0.04em;
        margin-bottom: 0px;
    }
    p{
        font-family: 'BalooTammudu2';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.06em;
        margin-bottom: 0px;
    }
    h3{
        font-family: 'BalooTammudu2-Semi';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 30px;
        letter-spacing: -0.05em;
        color: #F43A20;
    }
}
b{
    font-family: "BalooTammudu2-Semi";
    color: #000000;
}
.img-mud{
    margin: 30px auto;
    display: block;
    height: 130px;
    width: auto;
}
.text-why{
    font-family: "BalooTammudu2-Semi";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #F43A20;
    padding: 20px 40px;
    margin-bottom: 10px;
}
.solicitar{
    background-color: #F43A20;
    border-radius: 10px;
    height: 70px;
    padding: 10px 10px 10px 10px;
    width: 230px;
    border: 0px;
    font-family: "BalooThambi";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin: auto;
    display: block;
}
hr{
    border-top: 1px solid #2E2E2E;
}
.text-info1{   
    font-family: "BalooTammudu2";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #666666;
    padding: 5px 40px 10px;
}
.img-info1{
    width: 100%;
}
.rectangle-line{
    position: relative;
    div{
        width: 13px;
        height: 13px;
        background: #000;
        position: absolute;
        top: -6px;
        right: 30px;
    }
}
.title-2{
    display: flex;
    margin-bottom: 10px;
    h1{
        font-family: 'BalooTammudu2-Semi';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 60px;
        letter-spacing: -0.06em;
        color: #000000;
        margin-right: 10px;
        margin-bottom: 0px;
    }
    p{
        font-family: 'BalooTammudu2-Semi';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.06em;
        color: #000000;
        margin-bottom: 0px;
    }
}
.container{
    padding: 15px 40px;
}
.rectangle{
    width: 10px;
    height: 10px;
    float: left;
    margin-top: -2px;
    padding-left: 0px !important;
}
.bk-black{
    background-color: #000000;
}
.text-info2{
    font-family: 'BalooTammudu2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.06em;
    color: #666666;
    padding-left: 20px;
    margin-bottom: 15px;
}
.content-info2{
    margin: 60px 0px 40px;
}
.img-info2{
    width: 80px;
    height: auto;
    float: right;
}
.col-7 div{
    padding-left: 20px;
}
.img-map{
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}