<section>
    <div class="header">
        
        <div class="header__left col-5">
            <p class="porq">¿POR QUÉ ESCOJER</p>
            <p class="porq">NUESTRO SERVICIO</p>
            <p class="porq">TRASLADO PARTICULAR</p>
            <p class="porq">EN BARCELONA?</p>

            <span class="btn_solicitar">SOLICITAR</span>
        </div>

        <div class="header__right col-7">
            <img class="img_solicitar" src="./assets/img/kanguro/1 27.svg" alt="" >
        </div>
    </div>
</section>
<section>
    <img class="mapita" src="./assets/img/kanguro/mapa.svg" alt="">
</section>
<section>
    <br>
    <div class="container3">
        <div class="c3">
            <img src="./assets/img/kanguro/isotipo color rojo 3.png" class="c3_img0" alt="">
            <p class="c3_texto">Somos conscientes de que tus artículos personales son muy importantes, por ello te ofrecemos un servicio impecable, con el que tus enseres llegarán a su destino en perfectas condiciones, en el tiempo óptimo, y de las manos de los mejores profesionales. 
            </p>
            <div class="c3_img">
                <img src="./assets/img/kanguro/telemarketer 1.png" class="c3_img1" alt="">
                <img src="./assets/img/kanguro/smartphone 1.png" class="c3_img2" alt="">
                <img src="./assets/img/kanguro/express 1.png" class="c3_img3" alt="">
                <img src="./assets/img/kanguro/piggy-bank-with-coin 1.png" class="c3_img4" alt="">
                <img src="./assets/img/kanguro/save 1.png" class="c3_img5" alt="">
                <img src="./assets/img/kanguro/Kanguro letras rojas 3.png" class="c3_img6" alt="">
            </div>
        </div>
    </div>
    <br>
</section>
<section>
    <div class="container4">
        <p class="c4_titulo1"><span class="extra">1.</span>¡PORQUE ESTAMOS A LA VANGUARDIA! </p>
        <img class="" src="./assets/img/kanguro/globalization 1.svg"  alt="">
        <p class="c4_texto1_1">¡Porque en <span class="extra"> KANGURO LOGISTIC</span></p>
        <p class="c4_texto1_2">nos adaptamos a las tendencias nacionales e internacionales!</p>
        <img class="" src="./assets/img/kanguro/traslado seguro 1 1.png"  alt="">

        <p class="c4_titulo1"><span class="extra">2.</span>¡PORQUE SOLO PAGAS POR EL ESPACIO UTILIZADO!</p>
        <img class="" src="./assets/img/kanguro/earnings 1.png"  alt="">
        <p class="c4_texto1_1">En <span class="extra"> KANGURO LOGISTIC</span></p>
        <p class="c4_texto2_2">Lo cual nos permite ofrecer precios competitivos en el transporte de tus artículos personales.</p>
        <img class="" src="./assets/img/kanguro/traslado particular 2 2.png"  alt="">

        <p class="c4_titulo1"><span class="extra">3.</span>PORQUE NUESTRO TRANSPORTE ES RÁPIDO Y SEGURO</p>
        <img class="" src="./assets/img/kanguro/checked 4.png"  alt="">
        <p class="c4_texto3">Hoy puedes programar el transporte de tus artículos, y tener la seguridad de que contarás con un equipo de profesionales cuando lo requieras. Traslada tus enseres a su lugar de destino, sin preocuparte por la seguridad de los mismos antes de las 24Hrs.</p>
        <img class="" src="./assets/img/kanguro/2 1.png"  alt="">

        <p class="c4_titulo1"><span class="extra">4.</span>PORQUE TENDRÁS UN SEGUIMIENTO DE TU PAQUETERÍA 100% FIABLE</p>
        <img class="" src="./assets/img/kanguro/gps 1.png"  alt="">
        <p class="c4_texto3">Contarás con una comunicación interna de manera instantánea durante el traslado de tus artículos del hogar y de la oficina. El tracking tiene lugar en tiempo real, haciendo que el seguimiento de tus enseres sea totalmente fiable desde el momento de la recepción de los mismos, hasta que llega a su destino final. 
        </p>
        <img class="" src="./assets/img/kanguro/traslado 4 1.png"  alt="">
    </div>
</section>
