<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container py-lg-md d-flex">
            
            <div class="col-12 fondo" ><br>
                <div class="row" style="justify-content: center;">
                    <button class="btn btn-primary" [useExistingCss] =" true " printSectionId="print-section" ngxPrint>Imprimir</button> 
                </div>
                
                <div class="" style="border-style: dotted; margin: 2px;padding: 20px;" id="print-section">
                    <br>
                    <div class="" style="text-align: center;">
                        <img src="http://18.217.203.87/Pedido/images/logo.png" alt="" style="height: 80px;">
                    </div><br>
                    <div class="row">
                        <div class="col-4" style="text-align: center;">CLIENTE: {{guia.cliente}}</div>
                        <div class="col-4" style="text-align: center;">GUIA: {{guia.id}}</div>
                        <div class="col-4" style="text-align: center;">FECHA: {{guia.created_at}}</div>
                    </div><br>
                    <div class="" >
                        <table style="width:100%;text-align: center;">
                            <tr>
                              <th>CANTIDAD</th>
                              <th>PRODUCTO</th>
                            </tr>
                            <tr *ngFor="let p of guia.productos">
                              <td>{{p.cantidad}}</td>
                              <td>{{p.nombre}}</td>
                            </tr>
                          </table>
                    </div>
                    <br><br><br><br>
                    <div class="row">
                        <div class="col-6" style="text-align: center;">
                            REMITENTE: {{guia.remitente}}
                        </div>
                        <div class="col-6" style="text-align: center;">
                            RECEPTOR: {{guia.receptor}}
                        </div>
                    </div>
                    
                </div>
                
                
            </div>
            
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>

    <div id="account-about"></div>
</main>