*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: BalooTammudu2;
}
.container{
    margin: 0 auto;
    padding: 10px 20px;
}
h1{
    color: #FFBD00;
    font-family: BalooTammudu2Extra;
    font-size: 28px;
}
.header{
    margin-top: 1rem;
    color: black;
    display: flex;
    justify-content: space-between;
    img{
        margin-left: 10px;
    }
}
.title{
    font-family: BalooTammudu2Extra;
    font-size: 20px;
    line-height: 5px;
    margin-top: 20px;
    color: black;
    margin-bottom: 20px;
}
.content-product{
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: #000;
}
.titleP{
    padding: 0px 15px;
    line-height: 15px;
    margin-top: 12px;
    font-size: 14px;
    font-family: BalooTammudu2-Semi;
}
.titleP1{
    line-height: 13px;
    margin-top: 12px;
    font-size: 14px;
    font-family: BalooTammudu2-Semi;
}
.cantP{
    font-size: 11px;
}
.imageP{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.solicitar{
    background: #FFBD00;
    border-radius: 10px;
    font-family: "BalooThambi";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    color: #000;
    border: none;
    padding: 8px 12px;
}
.col-6{
    padding: 0px 4px 8px;
}

/*** MODAL ADD ***/
::ng-deep .modal-add{
    .modal-content{
        border-radius: 10px;
        background-color: #fff;
        width: 100%;
        margin: auto;
    }
    .modal-header{
        background-color: #FFBD00;
        color: #ffffff;
        text-align: center;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .modal-title{
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 29px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        width: 100%;
        text-align: left;
        margin: 20px 20px 5px;
    }
    .icon-delete{
        font-family: 'Almarai-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 25px !important;
        color: #FFFFFF !important;
    }
    .close{
        opacity: 1 !important;
        z-index: 9999 !important;
        margin-right: 0px;
    }
    .content-title{
        display: flex;
        align-items: center;
        .title1{
            font-family: "BalooTammudu2-Semi";
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            flex: 1;
            text-align: right;
            border-right: 3px solid #FFBD00;
            padding-right: 5px;
            padding-top: 18px;
            opacity: 0.3;
        }
        .title2{
            flex: 1;
            font-family: "BalooTammudu2-Semi";
            font-size: 22px;
            text-align: left;
            padding-left: 7px;
            line-height: 35px;
            padding-top: 16px;
        }
    }
    .modal-body{
        padding: 10px 20px;
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 33px;
        color: #020202;
    }
    .solicitar1{
        background: #FFBD00;
        border-radius: 10px;
        font-family: "BalooThambi";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 9px;
        color: #fff;
        border: none;
        padding: 12px 12px;
        margin: 12px auto;
        display: block;
        width: 90%;
    }
    .rectangle-color{
        width: 30px;
        height: 30px;
    }
    .text-infoP{
        line-height: 20px;
        font-size: 15px;
    }
    .content-colors{
        display: flex;
        margin-bottom: 15px;
    }
    input{
        background: #F2F2F2;
        border-radius: 5px;
        border: none;
        padding-left: 10px;
        width: 100%;
        font-size: 13px;
        padding-top: 7px;
        height: 30px;
        font-family: "BalooTammudu2-Semi";
        color: #000;
        margin-bottom: 10px;
    }
    .inpCant{
        width: 60%;
        font-size: 17px;
        height: 32px;
        text-align: center;
        padding-left: 0px;
    }
    .col-6 {
        padding: 0px 10px 8px;
    }
}