<section class="container">
    <div class="header">
        <h1>E-Commerce</h1>
        <div class="content-menu">
            <img src="./assets/img/kanguro/add.png" alt="add" (click)="addProduct()">
            <img src="./assets/img/kanguro/xls-file 1.png" alt="add">
            <img src="./assets/img/kanguro/zoom 1.png" alt="add">
        </div>
    </div>
    <p class="title">PRODUCTOS</p>
    <div class="row">
        <div class="col-6" *ngFor="let item of products">
            <div class="content-product">
                <img class="imageP" src="{{item.imagen}}" alt="imagen">
                <p class="titleP">{{item.nombre}}</p>
                <p class="cantP">Cantidad disponible: {{item.cantidad}}</p>
                <button class="solicitar" (click)="open(view,'view',item)">VER PRODUCTO</button>
            </div>  
        </div>
    </div>
</section>

<!-- MODAL VIEW -->
<ng-template #view let-c="close" let-d="dismiss">
    <div class="modal-header">
        <p class="modal-title" id="modal-title-default">Producto</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-delete">X</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <div>
                    <img class="imageP" src="{{order_select.imagen}}" alt="imagen">
                    <p class="titleP1">{{order_select.nombre}}</p>
                    <p class="cantP">{{order_select.descripcion}}</p>
                    <p class="cantP">Cantidad disponible: {{order_select.cantidad}}</p>
                    <button class="solicitar1">EDITAR</button>
                    <button class="solicitar1">ELIMINAR</button>
                </div>
            </div>
            <div class="col-6">
                <p class="text-infoP">Color</p>
                <div class="content-colors">
                    <div class="rectangle-color" *ngFor="let item of order_select.colores" [ngStyle]="{'background-color': item.color}" (click)="selectColor(item)"></div>
                </div>
                <p class="text-infoP">Color:</p>
                <input type="text" class="inp" [(ngModel)]="color_select.nombrecolor" name="nombreC">
                <p class="text-infoP">Medidas:</p>
                <input type="text" class="inp" [(ngModel)]="atributo_select.atributo" name="medidaC">
                <p class="text-infoP">Modelo:</p>
                <input type="text" class="inp" name="modeloC">
                <p class="text-infoP">Cantidad por modelo:</p>
                <input type="text" class="inpCant " [(ngModel)]="atributo_select.cantidad" name="cantidadC">
            </div>
        </div>
    </div>
</ng-template>


