<section class="container">
    <div class="header">
        <h1>E-Commerce</h1>
        <p class="title">HISTORIAL DE ENVÍOS</p>
        <p class="texto">Se visualizan todos envíos.</p>
    </div>
    
    <div class="cuadro">
        <div class="lista"> 
            <div class="row header-table">
                <div class="col-2">Orden</div>
                <div class="col-4">Descripción</div>
                <div class="col-3">Contacto</div>
                <div class="col-3">Fecha</div>
            </div>
            <div class="row tabla" *ngFor="let item of orders" (click)="open(detail,'detail',item)">
                <div class="col-2">{{item.id}}</div>
                <div class="col-4">{{item.destino}}</div>
                <div class="col-3">{{item.contacto}}</div>
                <div class="col-3">{{item.fecha | date: 'dd/MM/YYYY'}}</div>
            </div>
        </div>
    </div>
</section>

<!-- MODAL DETAIL -->
<ng-template #detail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <p class="modal-title" id="modal-title-default">Detalle del Envío</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-delete">X</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-4">
                <p class="campo1">Orden Solicitud</p>
                <p><b>{{order_selected.id}}</b></p>
            </div>
            <div class="col-4">
                <p class="campo1">Fecha de solicitud</p>
                <p><b>{{order_selected.fecha | date: 'dd/MM/YYYY'}}</b></p>
            </div>
            <div class="col-4">
                <p class="campo1">Rango de envío</p>
                <p><b>{{order_selected.hora_origen}}</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p class="campo1">Estado</p>
                <p *ngIf="order_selected.estado == 0"><b>CREADO</b></p>
                <p *ngIf="order_selected.estado == 1"><b>PROCESANDO</b></p>
                <p *ngIf="order_selected.estado == 2"><b>EN CAMINO</b></p>
                <p *ngIf="order_selected.estado == 3"><b>ENTREGADO</b></p>
                <p *ngIf="order_selected.estado == 4"><b>CANCELADO</b></p>
            </div>
            <div class="col-4">
                <p class="campo1">Fecha de envío</p>
                <p><b>{{order_selected.fecha_destino | date: 'dd/MM/YYYY'}}</b></p>
            </div>
            <div class="col-4">
               
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p class="campo1">Nro. Piso</p>
                <p><b></b></p>
            </div>
            <div class="col-4">
                <p class="campo1">Puerta</p>
                <p><b></b></p>
            </div>
            <div class="col-4">
                <p class="campo1">C.P.</p>
                <p><b></b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="campo1">Contacto</p>
                <p><b>{{order_selected.contacto}}</b></p>
            </div>
            <div class="col-6">
                <p class="campo1">Teléfono</p>
                <p><b>{{order_selected.telefono}}</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="campo1">Productos</p>
                <p class="content-product"></p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <p class="campo1">Cantidad</p>
                <p><b>1</b></p>
            </div>
            <div class="col-6">
                <div class="content-title">
                    <p class="title1">COSTO</p>
                    <p class="title2">{{order_selected.costo}} €</p>
                </div>
            </div>
        </div>     
    </div>
  </ng-template>