/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "BalooThambi";
    src: local("BalooThambi"), url(./assets/fonts/BalooThambi-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Almarai";
    src: local("Almarai"), url(./assets/fonts/Almarai/Almarai-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Almarai-Bold";
    src: local("Almarai-Bold"), url(./assets/fonts/Almarai/Almarai-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "BebasNeue";
    src: local("BebasNeue"), url(./assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "BalooTammudu2";
    src: local("BalooTammudu2"), url(./assets/fonts/Baloo_Tammudu_2/BalooTammudu2-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "BalooTammudu2-Semi";
    src: local("BalooTammudu2"), url(./assets/fonts/Baloo_Tammudu_2/BalooTammudu2-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "BalooTammudu2Extra";
    src: local("BalooTammudu2"), url(./assets/fonts/Baloo_Tammudu_2/BalooTammudu2-ExtraBold.ttf) format("truetype");
}