<section class="container">
    <div class="header">
        <p class="title">HISTORIAL DE ENVÍOS</p>
        <p class="texto">Se visualizan todos los envíos.</p>
    </div>
    
    <div class="cuadro">
        <div class="tabla_top"><img src="./assets/img/kanguro/poligonoama.svg" alt="" class="poli"></div>
        <table class="lista"> 
            <tr class="tabla">
              <th>001</th>
              <th>Cajas con cuadros y adornos personales</th>
              <th>05/03/2023</th>
            </tr>
            <tr class="tabla">
                <th>001</th>
                <th>Cajas con cuadros y adornos personales</th>
                <th>05/03/2023</th>
            </tr>
            <tr class="tabla">
                <th>001</th>
                <th>Cajas con cuadros y adornos personales</th>
                <th>05/03/2023</th>
            </tr>
          </table>
    </div>
    <div class="estado">
        
        <p class="tex">Envíos totales:</p>
        <p class="tex2">06</p>
        <p class="tex">Km cero emisiones:</p>
        <p class="tex2">45 km</p>
        <p class="tex">Gasto total:</p>
        <p class="tex2">75. 50 Euros</p>
    </div>
</section>

