<div class="registro" *ngIf="!showWeb">
  <div class="alert alert-default" role="alert" *ngIf="isDanger">
    <strong>Error al registrar el usuario! Comunicate con el servicio al cliente.</strong> .
  </div>
    <p class="title">¡BIENVENIDO!</p>
    <p class="sub_title">Estas apunto de realizar <br>
       un envío</p>
    <img src="./assets/img/kanguro/van.png" alt="" class="car">
    <p class="texto">Regístrate  en KANGURO para realizar tu envío o almacenar con <br> nosotros</p>
    <p class="tipo"><span [style]="getTypeStyles1()" (click)="tipo('1')"> Persona </span> | <span [style]="getTypeStyles3()" (click)="tipo('3')">E-Commerce</span> </p>
    <form role="form">
        <input type="text" class="inp" placeholder="Razón social o Nombre" [(ngModel)]="model.razon_social" name="inputRazon_social" #razon_social="ngModel" required>
         <input type="email" class="inp" placeholder="Correo electrónico"  [(ngModel)]="model.email" name="inputEmail" #email="ngModel" required>
         <ng-container *ngIf="email.invalid && email.dirty">
            <span class="help is-danger">El campo e-mail es requerido</span>
          </ng-container>
         <input type="password" class="inp" placeholder="Contraseña"  [(ngModel)]="model.password" name="inputPassword" #password="ngModel" required>
         <ng-container *ngIf="password.invalid && email.dirty">
            <span class="help is-danger">El campo password es requerido</span>
          </ng-container>
    </form>
    <span class="boton" (click)="open(confirm, 'confirm')" (click)="registro()">Registrarse</span>
    <p class="sesion" [routerLink]="['/iniciar']">Ya tienes una cuenta? <span style="color:red">Iniciar sesión</span></p>
    <img src="./assets/img/kanguro/o.svg" alt="" class="o">
    <span class="google">Continuar con Google</span>
</div>

<div *ngIf="showWeb" class="content-register">
  <div class="alert alert-default" role="alert" *ngIf="isDanger">
    <strong>Error al registrar el usuario! Comunicate con el servicio al cliente.</strong> .
  </div>
  <div class="container1">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5 content-row content-info">
        <p class="title">¡BIENVENIDO!</p>
        <p class="sub_title">Estas apunto <br> de realizar un envío</p>
        <img src="./assets/img/kanguro/van.png" alt="" class="car">
        <p class="texto">Regístrate  en KANGURO para <br> realizar tu envío o almacenar con <br> nosotros</p>
      </div>
      <div class="col-5 content-row">
        <div class="content-form">
          <p class="tipo"><span > Persona </span> <span style="color:#F43A20;">|</span>&nbsp;<span [style]="getTypeStyles3()" (click)="tipo('3')" style="color:#FFF;">E-Commerce</span> </p>
          <form role="form">
              <input type="text" class="inp" placeholder="Razón social o Nombre" [(ngModel)]="model.razon_social" name="inputRazon_social" #razon_social="ngModel" required>
              <ng-container *ngIf="razon_social.invalid && razon_social.dirty" style="margin-bottom: 5px;">
                <span class="help is-danger">El campo nombre es requerido</span>
              </ng-container>
              <input type="number" class="inp" placeholder="Teléfono" [(ngModel)]="model.telefono" name="inputTelefono" #telefono="ngModel" required>
              <ng-container *ngIf="telefono.invalid && telefono.dirty" style="margin-bottom: 5px;">
                <span class="help is-danger">El campo telefono es requerido</span>
              </ng-container>
              <input type="email" class="inp" placeholder="Correo electrónico"   [(ngModel)]="model.email" name="inputEmail" #email="ngModel" required>
              <ng-container *ngIf="email.invalid && email.dirty" style="margin-bottom: 5px;">
                  <span class="help is-danger">El campo e-mail es requerido</span>
                </ng-container>
              <input type="password" class="inp" placeholder="Contraseña"  [(ngModel)]="model.password" name="inputPassword" #password="ngModel" required>
              <ng-container *ngIf="password.invalid && password.dirty" style="margin-bottom: 5px;">
                  <span class="help is-danger">El campo password es requerido</span>
              </ng-container>
          </form>
          <!--button class="boton" [hidden]="!razon_social.invalid && !razon_social.dirty && !email.invalid && !email.dirty && !password.invalid && !password.dirty" (click)="open(confirm, 'confirm');">Registrarse</button-->
          <button class="boton" [hidden]="puede" (click)="signup_ckeck()">Registrarse</button>
          <p class="sesion" [routerLink]="['/iniciar']">Ya tienes una cuenta? <span style="color:red">Iniciar sesión</span></p>
          <img src="./assets/img/kanguro/o.svg" alt="" class="o">
          <!--span class="google" >Continuar con Google</-->
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>

<!-- MODAL CONFIRM -->
<ng-template #confirm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-delete">X</span>
      </button>
    </div>
    <div class="modal-body">
        <img src="./assets/img/kanguro/logotipoblanco.svg" alt="" class="logotipo"> 
        <p class="text-info">Te hemos enviado un correo electrónico para confirmar tu registro.</p>
        <p class="text-info">No he recibido el correo, <span (click)="reenviar()">reenviar</span>.</p>
    </div>
  </ng-template>