<div class="registro">
    <p class="title">¡BIENVENIDO!</p>
    <p class="sub_title">Estas apunto de realizar <br>
        envíos</p>
    <img src="./assets/img/kanguro/van.svg" alt="" class="car">
    <p class="texto">Regístrate  en KANGURO para realizar tu envío o almacenar con <br> nosotros</p>
    <p class="tipo">Persona | E-Commerce</p>
    <input type="text" class="inp" placeholder="Correo electrónico">
    <input type="text" class="inp" placeholder="Contraseña">
    <span class="boton" (click)="open(confirm, 'confirm')">Registrarse</span>
    <p class="sesion">Ya tienes una cuenta? <span style="color:red">Iniciar sesión</span></p>
    <img src="./assets/img/kanguro/o.svg" alt="" class="o">
    <span class="google">Continuar con Google</span>
</div>

<!-- MODAL CONFIRM -->
<ng-template #confirm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-delete">X</span>
      </button>
    </div>
    <div class="modal-body">
        <img src="./assets/img/kanguro/logotipoblanco.svg" alt="" class="logotipo"> 
        <p class="text-info">Te hemos enviado un correo electrónico para confirmar tu registro.</p>
        <p class="text-info">No he recibido el correo, <span>reenviar</span>.</p>
    </div>
  </ng-template>