<div class="registro">
    <p class="title">¡BIENVENIDO!</p>
    <p class="sub_title">Estas apunto de realizar <br>
        envíos</p>
    <img src="./assets/img/kanguro/van.svg" alt="" class="car">
    <p class="texto">Regístrate  en KANGURO para realizar tu envío o almacenar con <br> nosotros</p>
    <p class="tipo"><span [style]="getTypeStyles1()" (click)="tipo('1')"> Persona </span> | <span [style]="getTypeStyles3()" (click)="tipo('3')">E-Commerce</span> </p>
    <form role="form">
        <input type="text" class="inp" placeholder="Razon social"  [(ngModel)]="model.razon_social" name="inputRazon_social" #razon_social="ngModel" required>
         <ng-container *ngIf="razon_social.invalid && razon_social.dirty">
            <span class="help is-danger">La Razon social es requerido</span>
          </ng-container>
         <input type="email" class="inp" placeholder="Correo electrónico"  [(ngModel)]="model.email" name="inputEmail" #email="ngModel" required>
         <ng-container *ngIf="email.invalid && email.dirty">
            <span class="help is-danger">El campo e-mail es requerido</span>
          </ng-container>
         <input type="password" class="inp" placeholder="Contraseña"  [(ngModel)]="model.password" name="inputPassword" #password="ngModel" required>
         <ng-container *ngIf="password.invalid && email.dirty">
            <span class="help is-danger">El campo password es requerido</span>
          </ng-container>
    </form>
    <span class="boton" (click)="open(confirm, 'confirm')" (click)="registro()">Registrarse</span>
    <p class="sesion">Ya tienes una cuenta? <span style="color:red">Iniciar sesión</span></p>
    <img src="./assets/img/kanguro/o.svg" alt="" class="o">
    <span class="google">Continuar con Google</span>
</div>

<!-- MODAL CONFIRM -->
<ng-template #confirm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-delete">X</span>
      </button>
    </div>
    <div class="modal-body">
        <img src="./assets/img/kanguro/logotipoblanco.svg" alt="" class="logotipo"> 
        <p class="text-info">Te hemos enviado un correo electrónico para confirmar tu registro.</p>
        <p class="text-info">No he recibido el correo, <span (click)="reenviar()">reenviar</span>.</p>
    </div>
  </ng-template>