*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.alert{
    font-size: 20px;
    font-family: BalooTammudu2-Semi;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.registro{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-image: url("../../assets/img/kanguro/bosque.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7px 12%;
    min-height: 100vh; 
}

.title{
    margin-top: 16px;
    font-family: BalooTammudu2Extra;
    font-size: 35px;
    color: black;
}
.sub_title{
    color: #B1B1B1;
    font-size: 25px;
    font-family: BalooTammudu2Extra;
    text-align: center;
    line-height: 26px;
}
.car{
    width: 200px;
    margin-bottom: 15px;
}
.texto{
    font-family: 'Almarai';
    text-align: center;
    color: #676767;
    font-size: 12px;
}
.tipo{
    font-size: 20px;
    font-family: BalooTammudu2-Semi;
    color: black;
    margin-bottom: 15px;
}
.inp{
    background-color: #e2e2e2c2;
    width: 100%;
    border: 0px;
    height: 48px;
    margin-bottom: 13px;
    border-radius: 5px;

}
input {
    margin: 0px 5px 0px 5px;
}

input::placeholder {
    font-family: BalooTammudu2;
    opacity: 0.5;
    color: #A5A5A5;
    padding-left: 15px;
}
.boton{
    cursor: pointer;
    background: #8DB23D;
    width: 100%;
    color: white;
    font-family: 'Almarai';
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    margin-top: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.sesion{
    color: #676767;
    font-family: 'Almarai';
    font-size: 14px;
    span{
        margin-left: 5px;
        font-family: BalooTammudu2-Semi;
    }
}
.o{

}
.google{
    background: rgba(143, 178, 59, 0.6);
    width: 100%;
    color: white;
    font-family: 'Almarai';
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    margin-top: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
}

/** MODAL CONFIRM **/
::ng-deep .modal-confirm{
    
    .modal-content{
        background: #343434;
        height: 100vh;
    }
    
    .modal-header{
        background: #343434;
        color: #ffffff;
        text-align: center;
        align-items: center;
        height: 100px;
        border: none;
    }
    .icon-delete{
        font-family: 'Almarai-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 25px !important;
        color: #FFFFFF !important;
    }
    .close{
        opacity: 1 !important;
        z-index: 9999 !important;
        margin-right: 0px;
    }
    .modal-body{
        padding: 10px 30px;
        font-family: BalooTammudu2;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 33px;
        color: #ffffff;
        background-color: #343434;
        border-radius: 5px;
        text-align: center;
    }
    .text-info{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #fff !important;
        margin-bottom: 35px;
        height: 40px;
        span{
            color: #FFBB00;
            font-family: BalooTammudu2-Semi;
        }
    }
    .logotipo{
        margin-top: 20px;
        height: 30vh;
        margin-bottom: 30px;
    }
}
.content-register{
    background-image: url("../../assets/img/kanguro/bosque verde 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 63px);
}
.content-row{
    height: calc(100vh - 63px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-info{
    .sub_title{
        font-family: BalooTammudu2-Semi;
        font-size: 23px;
    }
    .title{
        font-size: 45px;
    }
    .car{
        width: 280px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .texto{
        color: #F54A1C;
        font-family: BalooTammudu2-Semi;
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
    }
}
.help{
    font-size: 13px;
    color: #F54A1C;
}
.content-form{
    background: rgba(255, 187, 0, 0.8);
    border-radius: 15px;
    padding: 55px 80px;
    width: 60%;
    min-width: 500px;
    text-align: center;
    input{
        padding-left: 15px;
        font-size: 15px;
    }
}